[2019-08-19 06:41] PharaohKJ opened #1 "イベントページ(doorkeeper)公開"

[2019-08-19 06:41] PharaohKJ opened #2 "本部連絡先公開"

[2019-08-19 06:42] PharaohKJ opened #3 "運営スタッフ・メンバー表作成"
- 連絡先・メンバー表・役割の作成
    - 定期打ち合わせスケジュール決定

[2019-08-19 06:42] PharaohKJ opened #4 "全体スケジュール作成"

[2019-08-19 06:42] PharaohKJ opened #5 "予算感作成"
- 箱が決まっているので、何人規模目標のイベントになるか
    - 会場費予約・見積もり(済) → AWS 支払い → 支払い期限
    - ノベルティ、お弁当などに影響大

[2019-08-19 06:43] PharaohKJ opened #6 "予算案作成"
- ただし、現実的なスポンサー・協賛可能な会社を絞り込んで、平行してスポンサー依頼
    - 依頼のためには 金額＋メリット(登壇、ロゴの表示(Web/配布物上など）を定義し、提示
    - なお、必ずロゴは画像だけではなく、ベクターデータでもらうようにすること
    - 金額を決める上で、AWS Community Day支援によるAWSの予算を参考に、最低限にとどめたほうが良い
    - 最終的判断は各支部に任せるが、イベントで集めたお金はイベントですべて消費することが望ましいです。お金が残るとトラブルの元です。

[2019-08-19 06:43] PharaohKJ opened #7 "勉強会トラック部設置"
- スポンサー/協賛企業への説明・募集開始（8月7日）3.5か月前　（少額でも稟議あるため早めに）
    - 会の主旨の説明資料作成（8月7日） 3.5か月前
- トラック表・タイムテーブルの作成
    - 登壇者オファーリスト作成（8月20日）3か月前
    - 全登壇者確定・タイトル・概要確定（11月7日) 2週間前
    - トラック数・セッション時間・枠数

[2019-08-19 06:44] PharaohKJ opened #8 "ロジスティクス部設置"
- 各制作物発注（ノベルティなど）(9月20日) 2か月前　1か月など納期がかかるものがある
- スポンサー配布物受付
- 記録簿作成
    - 納品スケジュール
    - 担当
    - 納品先
    - 在庫管理

[2019-08-19 06:44] PharaohKJ opened #9 "案内ペーパー・パンフレット作成"
- [x] 予算決定
- [x] 書く内容決定
- [x] デザイン決定
  - [x]  クリエイティブ担当、発注？決定
- [x]  発注先決定
- [x]  受け取り
- [x]  配布場所決定

[2019-08-19 06:45] PharaohKJ opened #10 "会計部設置"
- 出金・入金記録担当者選出
- 記録簿作成
    - 立て替え払い一覧
    - 精算状況

[2019-08-19 06:45] PharaohKJ opened #11 "会場決定"
- 会場企画
    - 担当者決定
    - ポップなど手配
    - 受付
- 会場費
- 予算申請
- 立替払い
- 領収書取得
- 精算

[2019-08-19 06:45] PharaohKJ opened #12 "スポンサー・協賛・協力探し"
- スポンサーに求める要件とそのお返しの決定
    - 会場費スポンサー
    - ドリンクスポンサー
    - 懇親会費スポンサー
    - 登壇協力
    - ハンズオン貸出機
    - ロゴ記載など
- スポンサー・協力探し
    - 声がけ先一覧の作成
    - 声がけ担当の決定
    - 当日配布物など受け取り
        - 担当者決定
        - 事前配送先決定

[2019-08-19 06:46] PharaohKJ opened #13 "当日タスク"
- 当日タスク一覧の作成
- 当日企画一覧の作成
- サポートスタッフの割り当て
- 運営本部設置
- 講師控え室設置
- 受付設置
    - 担当ローテ表
- スポンサー受付設置
    - 担当ローテ表
- 各部屋進担当決定
    - 司会進行 + プロジェクター補助
    - ハンズオンサポート

[2019-08-19 06:46] PharaohKJ opened #14 "非公式飲み会(うちあげ)手配"
- お店決定
- 予算決定
- 予約

[2019-08-19 06:47] PharaohKJ opened #15 "昼食 & 軽食付き夕懇親会 手配"
- 予算決定
- お店決定
- 予約
- 立替払い
- 領収書取得
- 精算

[2019-08-19 06:48] PharaohKJ opened #16 "スタッフTシャツ"
- [x] - 予算決定
- [x] - デザイン決定
- [x] - 発注先決定
- [x] - 受け取り
- [x] - 配布

[2019-08-19 06:48] PharaohKJ opened #17 "広報"
- SNS担当
- 会場写真担当
- 会場レポート担当決め

[2019-08-19 06:50] PharaohKJ commented on #12
- [x] ジョブボード設置可能かをAWSJと相談する。

[2019-08-19 06:57] PharaohKJ commented on #10
現状の本会は Google Spread Sheet を使っています。
実際のところ、現金がそのまま本会から出ていくことはないと考えていますので、
入金・出金・建て替え日時・用途・担当者
がわかる申請書 & 記録ができればよいと考えています。

その連絡フォーマット & 連絡場所 & オープンな記載場所 を wiki に記入したらクローズ

[2019-08-19 07:00] PharaohKJ commented on #9
ペーパーの媒体仕様が決まれば、予算が決まると思います。B4 2つ折りくらいであれば、400部で7,000円くらいになります。​​
https://raksul.com/flyer/b4/44_coat_standard_4c4c_option-14-1/?amount=1​​

A4折パンフレットでもよいかと思います。こちらでも400部で7,000円くらいです。​​
https://raksul.com/pamphlet/a4/fold-half/​​
​​
情報量が多いようでしたら、A4 中綴じ8ページが良いと思います。400部で13,000円くらいです。​​
https://raksul.com/booklet/a4naka/offset_left-bind_8page_cover-coat_cover-standard_cover-4c4c_cover-pp-none_coat_st

[2019-08-19 07:27] PharaohKJ opened #18 "当日スケジュールをどうするか"
会場は10時から22時まで押さえているので、そのなかで設定できます。

## 案1
10時 - 18時 昼食付き + 打ち上げで飲み屋

- メリット
普通の時間

- デメリット
名刺交換会的なものも含めて18時なので忙しいか

## 案2
13時 - 21時 夕食付き + 打ち上げで飲み屋

- メリット
会社帰りに立ち寄ることができる

- デメリット
夜登壇してくれる？
帰りが遅くなる、電車問題、北陸三県勢が日帰りできない？

## 案3
10時 - 18時 昼食付き + 立食懇親会 + 打ち上げで飲み屋

- メリット
案1よりは忙しくないか

- デメリット
クラウドロードショーのときみたいに誰もこないってことがないようにしたい・・・

## 案4
10時 - 21時 昼食・夕食付き + 打ち上げで飲み屋

- メリット
ガッツリ

- デメリット
帰りが遅くなる、電車問題、北

[2019-08-19 07:39] PharaohKJ commented on #18
弁当発注数とかケータリングとかも含めると参加人数感とかも含めて、スポンサー(協賛企業、登壇者)にお伺いしてから、かな？

どうやって決めるか、から。

[2019-08-19 10:45] TAKAyukiatkwsk commented on #10
@PharaohKJ 叩きを考えてみました。

申請: Google Form
記録: Google Spreadsheet (上記フォームにひもづいたもの)

想定されるフロー

- 立て替えがあるスタッフはGoogle Formで入力し申請
- 申請されるとSpreadsheetに入力内容が記録される
  - 申請されたイベントをJAWS-UG kanazawa Slackに通知できると良さそう(実装できるかは未検証)
- 精算が完了したら、会計スタッフがSpreadsheet上で精算完了の旨を記録する

足りない部分や想定と違う部分あるとおもうので、レビューお願いしますー。

[2019-08-19 21:48] yuuitiro commented on #18
松本は素直に案１か案３に一票を投じます。
やっぱり *日帰り* できないのは翌日の仕事に響いてしまいます。
会場を22時まで押さえてあるならば、11時 - 19時 みたいな線でも行けそうですね:)

[2019-08-20 03:40] higachan0406 commented on #18
11月20日は水曜ですか、飲む人も次の日みちゃいますね。。

[2019-08-20 10:36] PharaohKJ commented on #10
OKじゃないでしょうか。
今回は入金もある予定なので、そのタイミングなども記録・管理できるようにしてください。
[現金出納帳](https://www.timakai.com/home/atoz_genkin_suitou) で本来はいいんですが、どうしても「建て替え」がでちゃうんで現金出納帳 + 建て替え管理簿、でよいかと。
現金出納帳の
入金はスポンサーさんからの入金という項目のみで増えていき、
出金は「建て替え管理簿の○○について建て替え払い」という項目のみで増えていく
ってことになりそうかな？

よろしくです。

[2019-08-20 21:22] matyuda commented on #18
準備時間含めて考えると案2が良いかと思いますが、
案3をベースに12時～20時で、立食懇親会を19時からのプランも良いかと思います。
仕事帰りにセッションを聞くことも出来るでしょうし、日帰り勢の方は19時に帰ると間に合うこと
飲み会までは行きたくないが、少し懇親したいという人にもちょうど良いかな？とも思います。

[2019-08-20 21:52] yuuitiro commented on #18
↑ お尻の時間は、19時で一旦キリをつけるってのはいいと思います。

[2019-08-21 05:49] PharaohKJ commented on #9
予算をもとにするとなかなか話が進められないので、媒体仕様ベースで話を進めたいと思うのですが、どのくらいのページ数にしますか？
ある程度形にしたい場合は冊子タイプが良いかと思っています。
４００部（そんなにいらない？）の金額の目安ですが、
B4 2つ折り（仕上がりがB5サイズ）　7,000円　（折らないでB4仕上げも可）
A4折パンフレット（仕上がりがA4サイズ）　7,000円
A4 中綴じ8ページ　13,000円
媒体仕様が決まれば、台割して大まかなデザイン評価をして頂こうと思います。

[2019-08-21 05:51] PharaohKJ commented on #9
A4折パンフレットがいいんじゃないかなあ。
表紙・中にタイムライン・裏にスポンサーロゴ、そんな感じでどうですかね？

予算印刷費1万円、あと内容制作の予算どうするかですねえ。誰か頼めるところあります？

@matyuda

[2019-08-21 05:52] PharaohKJ commented on #18
from @matyuda
準備時間含めて考えると案2が良いかと思いますが、
案3をベースに12時～20時で、立食懇親会を19時からのプランも良いかと思います。
仕事帰りにセッションを聞くことも出来るでしょうし、日帰り勢の方は19時に帰ると間に合うこと
飲み会までは行きたくないが、少し懇親したいという人にもちょうど良いかな？とも思います。

[2019-08-21 10:15] matyuda commented on #9
制作はコスト節約で私がやろうと思っていました。
誰か頼める人がいれば、是非お願いしたいところですが、、、（汗

A4折パンフレットを基に台割してみますね。
ロゴは沼口さんよりご提供頂けていますか？

[2019-08-21 10:19] matyuda commented on #12
Slackより転記しておきます。(※メンション名を変更しています)
from @pharaohkj

@pharaohkjありがとうございます。
登壇いただく条件でジョブボードokなら登壇する側のインセンティブにもなりますし、聞いている側も何故ここに募集があるのかも話が繋がりやすいと思います。また、仕事を探しに来た人が気になる企業のセッションを聞く動機にもなりますので、非常に良いと思います。

[2019-08-21 11:34] matyuda commented on #7
勉強会は、各JAWSUGとAmazon Chimeでオンラインで接続してやるのはどうでしょうか？
(Amazon Chimeの料金をAWSさんにご負担いただけない場合、Zoom等を使わない限り実現が難しいのだと思いますが。。。)

今年のAWS Community Dayの開催都市のサイト見てみると、日本で初めて開催するのが金沢だとすれば（非常に名誉なことであり）、それ（開催状況の共有とセッション内容を各UGと共有する目的で）を各地方のJAWSUGと共有する必要があるのではないかと思った次第です。

[2019-08-21 12:15] matyuda commented on #9
左綴じの台割にしたファイル（aiファイルとPDFファイル）をpushしましたが、右綴じの方が良いようでしたら見直しします。縦の寸法は297mmです。

[2019-08-21 22:34] PharaohKJ commented on #18
今日ITBP武蔵いくんで、準備にはやめにはいられるのか確認してきます。
そうじゃなかったら10時から勉強会開始は無理になっちゃうんで。

[2019-08-21 22:37] PharaohKJ commented on #9
頼める人一番知ってる人多そうなのが @matyuda さんかと・・・ 😄
私も何人か知ってるので、そっちあたってみる場合にはおっしゃってください。

ロゴなどいただいています。ちょっとシェアする方法について決めたら連絡しますね。、

[2019-08-21 22:59] PharaohKJ commented on #3
定期打ち合わせスケジュールはとくになし。オンラインでslackで進める。
ただ、毎週金曜日に公式slackにて @PharaohKJ から進捗をレポートする。

[2019-08-21 23:06] PharaohKJ commented on #3
@jaws-ug-kanazawa/communityday 各位
https://github.com/jaws-ug-kanazawa/aws-community-day/wiki/準備会連絡先
を編集して自分の連絡先を書いてください（公開できる情報だけでよいです、最悪、名前のところにハンドルネームだけでも）

[2019-08-22 04:04] PharaohKJ commented on #18
延長料金払ったら、9時から入られるそうです。このパターンでいきませんか？

9時準備
10時開場
17時本編終了、立食懇談会へ
19時00終了、片付け
20時 非公式打ち上げ飲み会

[2019-08-22 04:45] PharaohKJ commented on #9
先方からGoogle DriveのフォルダがシェアされたのでURLをシェアします。
公にすると迷惑がかかりそうなので、いったん、JAWS-UG金沢上のslackでお知らせします。

[2019-08-22 04:46] PharaohKJ commented on #9
シェア済み。

[2019-08-22 04:56] PharaohKJ commented on #7
よいと思います。が、

- ちょっとハンズオン系も含めて回線問題(アップストリームがきつい)
- スライド+音声(映像もか)の配信はかなり難しい。
  - 投影しているスライドにフォーカスをあてると、コントラスト的に真っ暗になって登壇者の顔みえない
  - 登壇者にフォーカスをあてると、投影しているスライドが真っ白になってうつらない
  - そういうことを防ぐためにカメラや機材などのセットアップコストがめちゃくちゃ高い
  - わかってるサポートスタッフがたくさん必要

といった課題がみえています。このあたりクリアできればなんとかできるかなー。

ちょっと時間9/19とか10/5にテストしてみます？

[2019-08-22 11:13] matyuda commented on #7
なるほど。
昨日CircleCIのWebinarがzoomであったのですが、この辺の部分が割と簡単に解決されていた感じがありました。
具体的には、登壇者のコンピュータのWebカメラとzoomによるデスクトップシェアリングによるスライド共有だったような感じがしています。
Amazon Chimeで同じことが出来るのかが分かりませんが、是非チャレンジしてみたいと思いますので、9/19 or 10/5 でテストしたいです。

アップストリームの問題と登壇者の方のWebカメラの件は課題かもしれませんね。。。

[2019-08-22 12:44] TAKAyukiatkwsk commented on #10
ありがとうございます。リンクの内容で現金出納帳 + 立て替え管理簿イメージできました。

サンプルで作ってみたので、認識あってるか確認おねがいしたいです。

入金出金申請フォーム
https://forms.gle/QKEAwREKrQQ6LxCN6
立て替え申請フォーム
https://forms.gle/FwdFEZ7pUcrL9GxC9
記録&管理用スプレッドシート
https://docs.google.com/spreadsheets/d/1n_JBkcWxdkWprVJTmuT7zdF6CXGinljlZHX7XuUv0hY/edit?usp=sharing

[2019-08-22 12:55] TAKAyukiatkwsk commented on #7
回線は気になるところなのでテストしたいですね。。。(トラック並列2 + ハンズオン + 現地参加者の接続具合)

[2019-08-23 00:20] PharaohKJ commented on #9
不足フォントがあるようで、AWS側に問い合わせ中

[2019-08-23 00:34] PharaohKJ commented on #15
https://www.online-shibazushi.com/products/list?category_id=17&pageno=2

1食600円-700円税込ぐらいかな？
いったん2種類50個ずつ100ほどにするか。

[2019-08-23 00:36] PharaohKJ commented on #8
当日タスク追加メモ
弁当受け取り

[2019-08-23 01:06] PharaohKJ opened #19 "会場内案内ポスター・貼り紙"
- ビル入り口
- ~~エレベーター内~~
- ハンズオン開場前
- 6階受付前
- 制作担当
- 印刷業者発注
- 受け取り

[2019-08-23 01:07] PharaohKJ commented on #19
@matyuda さん、ちょっとこれ見積もりしてもらっていいですかね？パンフを張り出して、表紙を使い回すのでもいいかなあ。

[2019-08-23 01:08] PharaohKJ commented on #19
- [x] 受付
- [x] ハンズオン会場
- [x] 会場A
- [x] 会場B
- [x] ゴミはこちら

ぐらいの貼り紙の準備

[2019-08-23 01:10] PharaohKJ commented on #16
from @higachan0406

スタッフTシャツのスタッフ文字はアーチがカッコいいなーと思いました。
https://originalprint.jp/tshirts/GILDAN%20ジャパンフィットTシャツ/sample/【無料テンプレート】スタッフTシャツ%20雑貨屋スタッフ系

STAFFの部分がアーチだとカッコいいかなって思いました。AWSロゴは変形すると怒られそうですね。

[2019-08-23 01:46] PharaohKJ commented on #16
https://www.esgraphic.co.jp/detail/425

とかみても一着1,000円ぐらいなのかなあ。

[2019-08-23 01:46] PharaohKJ commented on #16
@aibax さんをいったんアサインしました。

[2019-08-23 01:49] PharaohKJ commented on #16
from @aibax
ベースのシャツにこだわりないよね？
↑化繊かコットンかとか

↑コットンがいいです！たかい？同じ値段ならー。

[2019-08-23 01:50] PharaohKJ commented on #16
枚数はスタッフ全部で10人ぐらいかなあ。できればXXL以上で頼みたいけど、あれば。
いったんおおめでざっく15で見積もりましょう。

[2019-08-23 02:02] higachan0406 commented on #15
お手数かけております。
1食の料金はそれでよいかと思います。
2種類、50個、合計100、問題ないかと思います。

しばずしは北陸民は抵抗ないですが、酸味は好みがあるかもですので普通の弁当にするか、
ご当地ということで酸味があるしばずし１つを入れるかまた相談させてください。

[2019-08-23 02:05] PharaohKJ commented on #15
とりべんとう、とかいいんじゃないすかね？＜酸味対策

[2019-08-23 02:22] PharaohKJ commented on #16
@aibax

デザインは外注を考えてますが、ロゴの基本デザインとかあるんで1万円ぐらいでなんとかならないですかね、、、。宛がないなら、友人に頼もうかな。

[2019-08-23 02:55] PharaohKJ commented on #10
いいと思います。
入金出金は建て替え払い申請フォームをもとに @TAKAyukiatkwsk が書けばいいと思いますのでフォームまではいらないかなあ、ご自身で使われる分にはOKかと。

フォーム立て替え払いの日付のところを「実際に業者などに支払った日を記入してください」などコメントいれておいてほしいですー。

入金出金記録のところに対応する建て替え払い申請書の行番号を書くようにしてください。専用カラムがあったほうがいいかも。

[2019-08-23 03:05] higachan0406 commented on #15
お肉。男子はお肉ですよね。
私もお肉がいい。

[2019-08-23 04:03] higachan0406 commented on #15
私年取ったのか、「月替弁当　華（８月）」みたいな
１つの枠に一品みたいなの出張で好んで食べてたことがあります。
これ高いなあ。
もう一品は、「花いちもんめ(770円。これも高いか。)」あたりか、
肉肉「はらぺこさん(693円)」か。

※11/20ということで税は10％で見ました。

今回はお見積りということで、

昼食は、
700円 x 100(50 x 2) = 70,000 円

となりますでしょうか。

[2019-08-23 04:12] higachan0406 commented on #18
これは昼食とは別の夕飯？(柿ピー用意、ビール用意など)になりますか？
予算見る必要がありますか？

[2019-08-23 04:12] matyuda commented on #15
急なアイディアですが、予算許せば、和菓子タイムはどうでしょうか？金沢といえば（和菓子）文化なので。
和菓子が高ければ、白えびビーバー買い占めでも良いかと思います。

[2019-08-23 04:33] higachan0406 commented on #14
[メモ]

・時間は20時より。
・料理は香箱蟹があること。
・人数は100?
・11/20の曜日は、水曜日。よって、金曜の飲みのノリでなく、
　少し金沢の美味しいものを食べる人、次の日を意識して
　早めに変える北陸民(石川、富山、福井)を意識する。

[確認]
・人数100人て、どこかのホテルの会場がよい？
　それとも、居酒屋で30人、30人、40人で分ける？

[お店候補]
・底曳き割烹　もんぜん
　ここは去年だったか、沼口さんもいらっしゃったところで、
　私は県外の方ならおすすめして食べていただきたい香箱蟹を出してくれるお店と
　思いました。
　ただ、沼口さんは別の所希望されるかもですね。
　場所は金沢駅付近なので交通は良い感じ。バスもあるみたいですが、来てくれるかな？
　
・五郎八
　魚介は美味しかったのを覚えています。日本酒、手取川も美味しかった。
　ただ、片町なので武蔵から遠く

[2019-08-23 04:42] higachan0406 commented on #14
予算のタネになること書き忘れました。

底曳き割烹　もんぜんだと、5,000円、6,000円ぐらいなんすかね。
前、どのくらいのコースで香箱蟹、たしか治部煮もありましたよね？
が出たかどなたか知りませんか？

底曳き割烹　もんぜん　コース料理料金表
http://monzen-noto.com/monzen/monzen-enkai/

[2019-08-23 04:59] PharaohKJ commented on #5
https://docs.google.com/spreadsheets/d/1gKtcXLjpBnrprM_GlEcVV1R8Gghv_uzQZEjy7zUCd_k/edit?usp=sharing

どんなもんでしょう

[2019-08-23 05:13] PharaohKJ commented on #14
もんぜんは名店。前、OpsJAWSのときにいったかな？

ここの懇親会はいったん名前をかえて、非公式飲み会、としましょう。
17時から行われる公式懇親会を懇親会で。そっちは #15 で進めましょう。

タイトルを変更します。

[2019-08-23 05:15] PharaohKJ commented on #15
旧懇親会 ( #14 ) を 非公式飲み会。
夜の軽食付き懇親会を懇親会と呼ぶことにします。

[2019-08-23 05:57] PharaohKJ commented on #14
あ、あとこっちはすみません、割り勘になります！予算つきません！

[2019-08-23 06:11] higachan0406 commented on #15
今出ている案は、
・和菓子
・白えびビーバー
　白えびビーバーは今から見つけたら買い占めしとかないと当日ないとか？

後は、ひかりや、ほっともっとでオードブルを3つ、4つとか、
ビールを6缶のものを2,3つ、2ダース？買う。

アサヒス-パ-ドライ缶350ml　(1ダース、6缶パック×4) x 2 = 11,000円

ほっともっと　オードブル 5,000円(税込) x 3 = 15,000
https://www.hottomotto.com/party/oeuvre.html

ジュース(コーラ、オレンジジュース、烏龍茶ペット、缶など) 3,000円

白エビビーバー ケース(12袋) | ￥2280(税込) x 3箱 = 6,840円

和菓子(あんころなど) 10,000円

合計:45,840円

となりました。
多い少ないなどありましたらご指摘ください。

[2019-08-23 06:17] PharaohKJ commented on #9
@matyuda EmberFonts.zipをアップしました とのことです。ご確認おねがいします。

[2019-08-23 06:32] PharaohKJ commented on #15
そうですね、ざっくりなんで、一人缶ビール1つと軽食で500円ぐらいと見積もって100人分として50,000円と見積もりました。

[2019-08-23 06:35] PharaohKJ commented on #11
[code]

上記で予約済みですが、準備で9時入りするためには追加料金が必要とのこと。

[2019-08-23 06:37] higachan0406 commented on #14
割り勘、了解しました。
遠方の方も割り勘、ということで。

ただ、人数感は知っておきたいところですが、
そんな気にしなくてもいいですかね？

いつも加藤さんがやってる、発表会終わりに飲みに行ける人挙手！システムで
やっちゃう感じ？

もし人数が把握できてるなら場所は抑えられます。
1日前、1週間前とかは無理だろうな〜。

[2019-08-23 07:13] higachan0406 commented on #15
加藤さんのその見積もり、いいですね。なるほど。
後は、加藤さんの「一人缶ビール1つと軽食」は守る形で、
私書いたので取り込めれたらちょっと検討、相談させてください。

[2019-08-23 14:00] PharaohKJ opened #20 "イベントページ公開"
こっちがイベントのメインページ。ここからドアキに誘導してチケットをとってもらう。

- [x] デザイナー手配
- [x] スポンサーチェック
- [x] 公開

[2019-08-23 14:01] PharaohKJ commented on #20
AWSさまよりCommunity Dayクリエイティブをいただいているので、進める。

[15VISION](https://15vision.jp/) さんにお願いしようと思っています。現状打診したところ、運営協力スポンサーとしてお手伝いいただけそうとのこと。

[2019-08-24 00:32] matyuda commented on #15
白えびビーバーはいま品薄なので、調達OKならば、見つけたら買占めするを繰り返さないと調達が難しい状況です。
和菓子は、好みが分かれるでしょうが、松任の円八あんころ（が値段高目でダメであれば、カントリーマアム）も良いかと思っています。
https://www.daiwa-dp.co.jp/shop/index.php/product/detail/11521

[2019-08-24 00:34] matyuda commented on #5
概ね大丈夫だと思います。
お弁当、懇親会の数は１００で足りるのでしょうか？
概算要求時には２割増しの１２０（スタッフが１５ということもありますし）でいかがでしょうか？

[2019-08-24 00:44] matyuda commented on #19
片面のフォト光沢紙という材質であれば、A3 1,290円/枚　B3 1,600円/枚　です。
印刷ではなくレーザプリンタでの出力だそうです。

概算レベルでは、B3×10枚(ごみ箱案内のポスターは多め)で16,000円でお願いいたします。
パンフレットよりも高いですが。。。。汗

数枚程度でA4でOKなら、自宅のインクジェットプリンタでも行けそうな気がしますが、デザインの色成分の指定が厳しいので、多少高くても上記金額で見積もっておいた方がよさそうです。

[2019-08-24 01:32] aibax commented on #16
@PharaohKJ

こんな感じで大手の安いところはあるけど、地元の業者さんにお願いするともう少し高くなりそう。
枚数も少ないので、予算組みの段階では一旦余裕をみて1着2500円程度で見ておきましょう。

[2019-08-24 01:33] aibax commented on #16
予算組みの段階では、一旦 @2500円 x 10着 としておく。

[2019-08-24 01:33] PharaohKJ commented on #16
概算予算修正しておきます。
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pxw_kato / twitter: PhalanXware

[2019-08-24 01:48] PharaohKJ commented on #19
単にでかい文字、白黒をコピー用紙でいい、なら、コンビニのネットプリント(PDFやワードをWebサービス経由で印刷できる)でよいでしょう。初期印刷30円、複写10円ぐらいかな？

掲示物企画して、具体的にまとめていってほしいです。リストができたらロジ部に搬入リスト作ります。

印刷に時間のかかるような大きな掲示物は置けないと思ってるんですが、上記企画すすめましょう。

- 必要そうな掲示物の名前 ( 燃えるゴミ
- 概要 ( 燃えるゴミはここに捨ててくださいマーク
- どこで使うか ( 懇親会時、受付近くのゴミ箱で
- 欲しいサイズ ( A4 白黒
- どうやって作るか ( プリンターで印刷

のリスト作ってもらっていいですか？google spread sheet がよいと思います。

--
PhalanXware
Masayuki KaToH / kato@phalanxware.com

[2019-08-24 01:52] PharaohKJ commented on #15
ローカルおやつ受付所作りましょう。スポンサー扱いはできないけれど、おやつシェアおもしろいかと。

会場のどこに作るか企画しましょう。受付付近かな？6階のエレベーターでたところが使えそうだけど。ゴミ箱も必須ですね。

余ったら軽食付き懇親会にまわす。と。
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pxw_kato / twitter: PhalanXware

[2019-08-24 01:54] PharaohKJ opened #21 "ローカルお菓子受付所"
おやつ受付所を作成し、案内しておやつを持ってきてもらい、みんなでシェアする。

受付所企画
場所
ゴミ箱手配
余ったら懇親会行き

[2019-08-24 02:50] higachan0406 commented on #15
あんころカントリーマァムあるんですか。
食べてみよう。
おやつ受付所ですか。いいですね。
おかしを予算内で検討してみますね。

[2019-08-24 07:24] PharaohKJ commented on #20
@jaws-ug-kanazawa/communityday なんかこんな感じの、ってページある？

https://aws.amazon.com/jp/events/community-day/

をみると、色のテイストとかはあるけど、JAWS-UG金沢っぽさを出したほうがいいのかな。

https://aws.amazon.com/jp/summits/tokyo-2019/

こんな感じで、白メインで文字色黒、シンプルな感じ、でいいですかね？

[2019-08-24 09:12] higachan0406 commented on #20
色味は下の白メインがよいと思いました。

[2019-08-25 02:04] matyuda commented on #19
コンビニのネットプリントについては調査しておきますが、コンビニのプリンタだとA3、B4が最大サイズかもしれません。
掲示物のリストについては作成しますね。

[2019-08-25 02:07] matyuda commented on #7
ポスターやパンフレットに関係ある内容につき、一旦確認させてください。
トラック名ですが、
トラック１、トラック２　になりますか？
それとも　トラックA、トラックB　になりますか？

それともトラック利家、トラックまつ　など地元色出してみますか？

[2019-08-25 02:56] PharaohKJ commented on #19
A4でバカでかい文字で十分だと思いますよ。それか、A4に1文字ずつ印刷するとか。

[2019-08-25 02:58] PharaohKJ commented on #12
@jaws-ug-kanazawa/communityday 各位

スポンサー募集前半の文章はおいといて、協賛方法一覧とそのリワードについて文章おこしてみました。レビューお願いします。

https://paper.dropbox.com/doc/--Ajh7sD_xopBURSB~tEB2mjb8Ag-RiMyMAijPmiulzeyeO0Wq#:uid=675903740065089163084406&h2=%E3%81%94%E5%8D%94%E5%8A%9B%E3%81%84%E3%81%9F%E3%81%A0%E3%81%8D%E3%81%9F%E3%81%84%E3%81%93%E3%81%A8

[2019-08-25 06:49] higachan0406 commented on #12
「します。」「しましょう。」で統一されていない箇所が2つ気になりました。
タイトル「狙い」の以下２つ。
「IT」「クラウド」と言っただけで「俺とは関係ない」「すごいむずかしそう」というイメージがあるが、そんなことはない！北陸にクラウド(AWS)は関係ある！自分のビジネス・仕事を強力に推進するチカラになる！という話をし、みんなで考えることができるようにする。

巨大なインフラ、アジャイル開発、プロトタイプ開発、小企業、個人のやってみた、スモールスタートなど、相性もよいということを認知させたい。

[2019-08-25 10:10] PharaohKJ commented on #7
そのネタめっちゃいいけどトラックA、B、コマ数で連番としようかなと思ってました。

--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pxw_kato / twitter: PhalanXware

[2019-08-26 00:18] TAKAyukiatkwsk commented on #20
私もAWSサミット東京のようなシンプルな感じでよいと思います。

どこかにJAWS-UG金沢のロゴを含めておくと良さそうではありますね。

[2019-08-26 02:45] PharaohKJ commented on #12
すみませぬ、前半はちょっとおいといてください。前半できたらまた連絡します！後半の協賛方法一覧とそのリワードについてレビューをお願いします。

[2019-08-26 02:47] PharaohKJ commented on #18
すみません、わかりにくくなっちゃったんで整理しました。予算別に見る必要があります。

懇親会 > 立食懇親会のこと > #15 で議論
これまで懇親会としていたこと > 非公式打ち上げ飲み会（割り勘） > #14 で議論

とします。よろしくおねがいします。

[2019-08-26 02:48] PharaohKJ commented on #18
スケジュールは

https://github.com/jaws-ug-kanazawa/aws-community-day/issues/18#issuecomment-523738201

でいったん確定としましょう。

[2019-08-26 03:04] PharaohKJ commented on #2
いったん

[準備会連絡先 · jaws-ug-kanazawa/aws-community-day Wiki](https://github.com/jaws-ug-kanazawa/aws-community-day/wiki/%E6%BA%96%E5%82%99%E4%BC%9A%E9%80%A3%E7%B5%A1%E5%85%88)

でOKとする

[2019-08-26 03:04] #2 closed, assigned to PharaohKJ

[2019-08-27 01:06] matyuda commented on #10
@TAKAyukiatkwsk さんありがとうございます。
入出金に関する領収書の取り扱いはどのようにされますか？

入金・・・「AWS Community Day」の領収書を発行する
出金・・・領収書のあて名書きは「AWS Community Day」としてもらう等。

[2019-08-27 01:08] matyuda commented on #10
@TAKAyukiatkwsk さん
サンプル立て替え申請フォームに１件サンプルとして入力してみました。
金額のカラムは、金額（税込）としていただいた方がよいと思います。

[2019-08-27 04:09] PharaohKJ commented on #10
領収書の宛名についてはAWSさんと相談します。
あ、領収書の原本の保管についても説明要りますね。お待ちを。

--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pxw_kato / twitter: PhalanXware

[2019-08-27 04:32] matyuda commented on #12
私は内容確認しましたが、内容に問題はないと思います。

[2019-08-27 09:42] TAKAyukiatkwsk commented on #10
@PharaohKJ @matyuda
アドバイスありがとうございます。以下について反映しました。入金出金フォームは自分用にしておきますね。
https://github.com/jaws-ug-kanazawa/aws-community-day/issues/10#issuecomment-524153035
https://github.com/jaws-ug-kanazawa/aws-community-day/issues/10#issuecomment-525092683

あ、領収書の原本の保管についても説明要りますね。お待ちを。

確認よろしくお願いします 🙇

[2019-08-27 09:55] TAKAyukiatkwsk commented on #12
@PharaohKJ

[IMO] 「分野とその地元」というのがすこし分かりにくいなと感じました。
なんとなく以下の2つのテーマ？に関することを登壇して欲しいのかなと感じたのですが理解あってますでしょうか？

* 御社の事業分野におけるAWS活用事例
* 御社の地元におけるAWS活用事例

その他の部分はLGTMです！！

[2019-08-27 11:13] PharaohKJ commented on #10
とのことなので、

1. 領収書は各自の名前で。
2. 領収書のPdFをなんとかして送る(slack ? 申請フォーム？

としてルール決めお願いしますー。
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pxw_kato / twitter: PhalanXware

[2019-08-27 13:02] matyuda commented on #7
@PharaohKJ  さん
承知しました。A-1～　B-1～としておくことにします。

[2019-08-27 14:28] matyuda commented on #9
@PharaohKJ さん
ご対応ありがとうございました。フォント確認できました＆フォント埋め込みした状態で確認用PDFを再生成しました。

[2019-08-29 02:21] PharaohKJ commented on #20
ウェブページ要件

https://aws.amazon.com/jp/summits/tokyo-2019/
https://jawsdays2019.jaws-ug.jp

 を参考にしたい、以下※印は動的に更新あり。決まり次第追加・更新していきたい。

- [x] ロゴ
  - [x] CommunityDay
  - [x] JAWS-UG 金沢
  - [x] 上記が共催してるようなロゴ
  - [ ] ↑をスタッフTシャツにしたい
- [x] タイトル  AWS Community Day Kanazawa
  - ↑ちょっとタイトルは共催スポンサーと要相談
  - ↑ 2019-08-29 タイトルを JAWS-UG Kanazawa x AWS Community Day 2019 Kanazawa から変更、UG Kanazawaの名前をどう入れていくかは共催スポンサーA

[2019-08-29 04:26] PharaohKJ commented on #11
予約しました。

[2019-08-29 10:42] ichigami commented on #20
イベントページ制作を行う15VISION いちがみです。
みなさん、よろしくお願いいたします。
加藤さん、トップページの構成要素ありがとうございます。
明日、構成案を提示します。

1点お願いがあります。JAWS-UG 金沢のロゴデータも支給していただけますか。
よろしくお願いいたします。

[2019-08-29 10:48] PharaohKJ commented on #20
@ichigami さん、JAWS-UG金沢ロゴは

https://github.com/jaws-ug/logo/tree/master/kanazawa

からもっていってください。 @aibax さん↑でいいですよね？

よろしくおねがいしますー。

[2019-08-29 10:52] PharaohKJ commented on #20
@ichigami さん、すみません、イベントタイトルを変更しました。

[2019-08-29 12:03] TAKAyukiatkwsk commented on #10
申請フォームに領収書をアップロードする項目を追加しました。

[2019-08-29 13:55] matyuda commented on #19
掲示物のリストを用意してみました
https://docs.google.com/spreadsheets/d/1rOzMBqQ-KTLnODSh8UCcfwSAIQSvN6f4tx84C65aXfQ/edit?usp=sharing

[2019-08-30 02:27] PharaohKJ commented on #10
申請フォーム確認しました。
添付先のドライブは @TAKAyukiatkwsk さんじゃないとダウンロードできないようになってるのかな？
それでもいいかな？ただ、スポンサーに一式全部提出しなくてはいけないかもしれないので、そのときはお願いします。

だいたい完成したと思うので [Home · jaws-ug-kanazawa/aws-community-day Wiki](https://github.com/jaws-ug-kanazawa/aws-community-day/wiki#%E7%AB%8B%E3%81%A6%E6%9B%BF%E3%81%88%E6%89%95%E3%81%84%E7%94%B3%E8%AB%8B) にフォームのURLなど書き込んで本 issue をクローズしてください

[2019-08-30 02:31] PharaohKJ commented on #19
ありがとうございます。掲示物増える場合にはここで @matyuda さんにお願いしてそのシートで管理するということにしましょう。

スポンサージョブボード、チラシはまた別のタスクで管理しましょう。

[2019-08-30 02:33] PharaohKJ commented on #19
[Home · jaws-ug-kanazawa/aws-community-day Wiki](https://github.com/jaws-ug-kanazawa/aws-community-day/wiki#%E5%BD%93%E6%97%A5%E6%8E%B2%E7%A4%BA%E7%89%A9%E7%AE%A1%E7%90%86)

に記載しました。よろしくおねがいします。

[2019-08-30 02:34] PharaohKJ commented on #10
↑URL書き込んでおいたんで、URLがあってるか確認したらクローズしてください

[2019-08-30 02:59] TAKAyukiatkwsk commented on #10
wikiの更新ありがとうございます！PDF添付先のドライブも共有してwikiに貼っておきました。(サンプルではなく本番用のURLに差し替えてあります。)

[2019-08-30 02:59] #10 closed, assigned to nobody

[2019-08-30 04:02] PharaohKJ commented on #5
おーそうですね。ちょっと修正しておきます。

[2019-08-30 04:05] matyuda commented on #19
ありがとうございます！

[2019-08-30 07:52] PharaohKJ commented on #12
@jaws-ug-kanazawa/communityday

いったん、清書第一弾としまして、wikiにもリンク貼っておきました。
レビューよろしくおねがいします。

https://paper.dropbox.com/doc/--Aj0j4SU52blOV2EqxQVL~IK_AQ-RiMyMAijPmiulzeyeO0Wq

[2019-08-30 08:35] ichigami commented on #20
ざっくり構成案を作成しました。
ご確認をお願いします。
https://xd.adobe.com/view/70ab6318-f721-44bc-68f9-bf39bd6b48ca-069a/

@PharaohKJ さん
随時更新していくコンテンツがなければCMSは入れなくてよいかなと思いましたがどうでしょう？

[2019-08-30 10:59] PharaohKJ commented on #20
@ichigami さんありがとうございます。
よいと思います。

あっちのコメントにも書きましたがいちおうここにも書きますね↓割とスポンサーや登壇者はじっくり決まっていく( = 実質随時更新していく必要がある )と思っています 。

Presented by はたぶん、JAWS-UG KANAZAWA と AWS のロゴを並べることになると思います。スポンサーと相談します。

チケットは無料になると思うんで「無料チケットを取得」という表記にします。

CMSでもHTML+CSSでも楽なほうでお願いします。後者のほうがコード管理とかこっちでも手が出しやすくて助かります。

[2019-08-31 01:50] higachan0406 commented on #20
@ichigami
構成案見ました。いいですね！

[2019-09-01 12:44] PharaohKJ commented on #20
@ichigami さん、WDF FInal のウェブペイジみましたが、あのまま使えるのでは・・・w

[2019-09-02 10:30] ichigami commented on #20
@PharaohKJ さん、そうなんです。
WDF FInalのページは、a-blog cmsのLP用テーマを使ってつくっています。
今回もまずはa-blog cmsのLP用テーマでページ用意して、ひとまず確定した情報から入れ込んでいって最終的にデザインを整える、という流れにした方がスムーズかもしれません。

告知ページ公開予定日は、下記のPaperを見ると「9月20日（金）」となっていますが、それぐらいのスケジュール感と考えていてよいですか？
https://paper.dropbox.com/doc/Tasks-of-JAWS-UG-Community-Day--AkBne8CN9fgELja3x~9b9NTZAQ-9wjzxnOWz8lasdIWYQfhE

[2019-09-02 11:12] PharaohKJ commented on #20
その日付は参加者用チケットページ( doorkeeper ) のお尻のつもりなんで、イベントページはなるべくはやく欲しいところです。

遅れてますがスポンサーに声かけるために、まずはみせられるこのとしてWebページと企画書と考えているのです。

よろしくお願いします。
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pxw_kato / twitter: PhalanXware

[2019-09-02 11:53] PharaohKJ commented on #20
@ichigami さん、基本的なテーマまでやっていただいて、他担当者でもCMSいじってコンテンツ変更できるようにする、ってやるのが一番楽でよいですかね？

[2019-09-02 23:44] ichigami commented on #20
@PharaohKJ そうですね、そうしましょう。現状そんなに更新しやすいテーマではないのですが、なるべく更新しやすくなるように調整しながら初期のコンテンツ投入を行います。
a-blog cmsの動く環境を用意していただけますか。

a-blog cmsダウンロード
https://developer.a-blogcms.jp/download/
動作条件
https://developer.a-blogcms.jp/document/requirements.html

[2019-09-03 00:48] PharaohKJ commented on #20
んんー、SaaS版ってないんですねえ。これはメンテ含めてだるいですね。
まぁいったん、作ってcurlして保存してあとはstaticサイトとして使うか・・・。
まぁセットアップします。

[2019-09-03 01:00] ichigami commented on #20
@PharaohKJ やっぱり、いろいろコストっぽいのでstaticにつくりましょうか。

[2019-09-03 01:31] PharaohKJ commented on #20
@ichigami もう少々おまちを本日中に用意します。

a-blog cms で作る > それの static を作成( curl あたりで自動作成) > staticで公開

するようにしましょう。なので更新するときだけ a-blog cms を起動するってことでいいかと思います。
少々お時間ください。なんかいろいろあって本日いっぱいいったんください。

[2019-09-03 01:33] PharaohKJ commented on #12
@aibax さんが声かけリスト作成中ってことで、担当を変更。

[2019-09-03 07:42] aibax commented on #12
一旦 Google Spreadsheet に転記して作成。追記しながら順次整理していく。
https://docs.google.com/spreadsheets/d/12GxEBJuL2my9iDPWs-JmgCqTvCT12RF7lGA7FaB0lgE/edit?usp=sharing

[2019-09-03 09:43] PharaohKJ commented on #20
@ichigami さん
http://awscommunityday2019.yaranaika.me

にとりあえず準備しました。IDとパスワードは公開できないんで、こっそり送付しました。
IDとパスワードは @PharaohKJ まで連絡ください。更新担当者にのみ配ります。

本番のドメイン名は @aibax さんが手配してくれています。少々お待ちを。
あとで入れ替えるつもりです。

[2019-09-03 09:56] PharaohKJ commented on #12
@jaws-ug-kanazawa/communityday 各位↑に自社名かいてね！！！担当者はご自身の名前か、他にヘルプにきてほしい人の名前書いておいてください！

[2019-09-03 21:54] PharaohKJ commented on #20
↑ LightSail で構築、一応月1,000円のLightSailインスタンスで、費用は今度相談
@ichigami さん、CMSログイン確認待ち
直接ファイル編集したいということで @ichigami さんの公開鍵を登録済み

https://library.panic.com/ja/general/ssh-keys/?fbclid=IwAR2FDIajgzkigmQWSn92oAN5nrYbWENeTGZw52bZhYq3hzzTKDbK0CAv9rE#ssh-configファイル

を参考に `~/.ssh/config` に

[code]

とかけばつながりますので、ご確認よろしくおねがいします。

[2019-09-03 21:58] PharaohKJ commented on #20
@ichigami さん
イベント名は 「AWS Community Day Kanazawa」
ウェブペイジ上段の「presented by」は、JAWS-UG金沢の右横（JAWS-UGロゴのほうが上手:カミテ）にawsのロゴもいれてください。先方OKもらってます。

@aibax さん、公式slack の #community-day-2019 でOKもらったんで

community-day-2019 .jaws-ug.jp

でドメイン申請お願いします。

[2019-09-04 02:51] PharaohKJ commented on #1
[code]

とのことで、これを明記すること！今の所、共催スポンサーのAWSさまとJAWS-UG金沢で、名簿情報は共有するが、他スポンサーさまへはお渡ししない予定。そのつもりでスポンサー様説明文書明記。

[2019-09-05 11:58] PharaohKJ commented on #20
@aibax さん、2019-09-04のslackでした議論で、これまでとあわせて

communityday2019 .jaws-ug.jp

でドメイン取得お願いします。

@ichigami さんと話して、CSS・テーマ作成有線で、コンテンツの入れ込みは分業して手伝う、いったん目標は来週いっぱい 2019-09-13 としました。

[2019-09-09 04:25] PharaohKJ commented on #20
一発ウェブページの割に ablog のライセンスが高い ( 5万円 ) ので、要相談。↑のLightSailインスタンスの料金もあわせて。

いったん完成してCMSからstatic運用したとき、CSSとかJSのライセンスとか絡んでいろいろあるかも。そこも要調査。

[2019-09-11 09:10] PharaohKJ commented on #20
ライセンス問題については解決。

[2019-09-11 10:11] PharaohKJ commented on #15
支払い条件（法人じゃないとだめとか）
数変更対応時限
最低発注数、最高発注数

など、事前に確認し、金額次第ではイベント会社さんより支払いしてもらえるので着手すること

[2019-09-11 11:10] PharaohKJ commented on #15
@higachan0406 さん、立替代金が高くなりそうですが、スポンサーさんから直接支払うという方法をとることができます。

お弁当の大量発注などすると「法人相手しかしてない」などいろいろあるかもですので、上記↑気をつけながらそろそろ業者選定などはじめてほしいです。

[2019-09-11 12:43] higachan0406 commented on #15
@PharaohKJ さん
スポンサーさん経由でってできるんですね。了解しました。
お弁当の芝寿しさんあたりから聞いてみます。

お菓子コーナーについてですが、
コーナーを作るとして、そのコーナーの規模感、お菓子の品揃え数、
品揃えの在庫数を決める必要があると考えます。
まずは、作業として、お菓子の候補を10、20を出して、そこから5つに絞り、在庫をそれぞれ10と
する、などが必要なのかなー。

北陸のお菓子の調達は、金沢駅で調達が現実的なんですかね。

白えびビーバーはたまにバロー行きますが、見ませんねー。
あっても今から箱買いってなると立替がきちーですね。なくしたら、腐ったら問題もあるし。

[2019-09-11 12:55] higachan0406 commented on #15
ちなみにお見積りを出しましたが、
いくらぐらいが弁当関連、懇親会費用に割り当てられたのでしょうか。
また、まだ出ていないのであればそれはいつぐらいに出るのでしょうか。

[2019-09-12 09:56] PharaohKJ commented on #15
@higachan0406  さん

先日出したざっくり予算でOKいただきましたので、そのあたりになるように手配お願いします。
大きく超えないと用意できない、などありましたらまた連絡ください。

経験上、あんまり用意してもめっちゃ余ります。一口梱包されたチョコ、アメ、グミが
ちょろっとあればよいかと考えてます。

こだわりのお菓子、例えばローカルなお菓子で攻めるとしても、駅前とかで調達できる量でよいと考えてます。

乾き物、か、前日仕入れできるもの、に固定すべきと考えています。どうでしょう？

[2019-09-12 10:11] PharaohKJ commented on #14
ドアキーパーの申込時にアンケート + 1週間前に最終確認メールをドアキから出す、というようにしましょう。（いまのところ、ドアキを使う予定になっていますが、かわったらまた考えましょう）

[2019-09-12 10:13] PharaohKJ commented on #1
写真・SNSのNGを申込時に事前質問すること
AWS側との共催につき、その文言を頂く予定(2019-09-11うちあわせより)
割り勘飲み会に参加するかどうか事前質問すること

[2019-09-12 15:20] higachan0406 commented on #15
@PharaohKJ
確認ありがとうございます。
予算で出ている金額で準備を考えたいと思います。

めっちゃ余るんですね。なるほど。一口梱包でチョコ、アメ、グミ、ちょろっと。
参考にしたいと思います。
経験のある方の情報助かります。また、出していただいたローカルお菓子の話しも
盛り込めればと考えております。

保存、立替期間を考えると乾き物、(駅前、会場近くのハコマチなどの)前日仕入れを
考えたいと思います。

あと、ビール1缶＋つまみの100組の構成を50組にして、上記のお菓子の費用を
捻出する、すべきかなども今後相談させてください。

[2019-09-12 15:57] higachan0406 commented on #15
@PharaohKJ
弁当について芝寿し(0120-404-567、たけださん、女性)に問い合わせを行いました。

インターネットで予約がよいようです。
あと細かい点の確認、回答となります。
・法人でないと注文は受けられないか？
　→法人でなくても注文は受けられます。
・100個の注文は可能です。(上限、下限は注文数が100と出ていたので聞きませんでしたが、
　減ることはあってもめちゃ増えることはないと思ってますが、認識あってますでしょうか。)
・インターネット予約後、当日決済での支払となります。
・1万円以上の買い物で配送は無料となります。(キャンセルなどで料金が1万を下回ると、
　配送料がかかります。)
　配送時間は、10時半〜17時を指定可能です。
・イベント開催は11/20(水)平日なので、増加注文は受けられます。(季節的に運動会の時期なので、
　土日の場合は無理な場合があるそうで

[2019-09-12 23:50] matyuda commented on #20
トップページのどこかに
https://communityday.awsugkol.org/
にあるようなカウントダウン入れていただくと盛り上がりそうですが、いかがでしょうか？

[2019-09-13 01:51] PharaohKJ commented on #20
大きな機能追加はいったんパスしましょう。次はドアキ公開するときにあわせて追加したりなんだりしましょう。つまるところ、10月ですかね。

[2019-09-13 02:13] PharaohKJ commented on #15
@higachan0406 さん

問い合わせありがとうございました。

- 遺憾ながら集客ができなくて大変残念なことになる
or
- 集客できすぎて会場のキャパ140ぐらいまで増やすことがある

かもしれません・・・。一応。想定として。

オードブル置き場を考えないといけないですね。

いったん、こちらとしても1週間前をデッドラインにしましょう。

インターネットでいきましょう。

登録住所・連絡先は @higachan0406 さんのものでOKです。
はばかれるようでしたら私の情報で登録しますので言ってください。
団体名は「JAWS-UG 金沢」としておいてください。

住所は

[code]

で( https://www.bp-musashi.jp より引用)、

6階・控室

に届けてもらえるようお願いします。運搬にエレベーター使っていいか、ITBP武蔵側に相談しておきます。

[2019-09-13 09:39] ichigami commented on #20
@PharaohKJ さん
カンプにあわせてデザインを整えました。ご確認をお願いします。
http://awscommunityday2019.yaranaika.me/

データ当て込みについて不明点あればお問い合わせください。

[2019-09-15 04:40] PharaohKJ commented on #20
@ichigami さん

ありがとうございます。いったんこれでいきましょう。火曜までにいったん私がコンテンツあてていきます。

[2019-09-15 07:31] PharaohKJ commented on #20
@jaws-ug-kanazawa/communityday 各位

- 会の説明文追加
- タイムテーブル修正
- 連絡先追加
- スポンサーロゴいったん非表示
- 登壇者いったん非表示

にしました。レビューお願いします。これを

- [ ] AWSさんにも出しOKをもらう
- [x] @aibax さんがドメインとっていただけて
- [ ] そのドメインでライセンスキーを発行
- [ ] https の設定する

したら公開しようと思います。

@aibax さん、IPは `54.92.19.125` でお願いします。

[2019-09-15 09:31] PharaohKJ commented on #18
キーノートをやろう！ということなどなどで、時間再度調整した版を企画書のほうにまとめました。

@jaws-ug-kanazawa/communityday 各位

https://paper.dropbox.com/doc/JAWS-UG-Kanazawa--Ak2hI~6XCf3lkQDpW6HP1JLeAg-j5Ogic0Xj9O4zctTLL2p8#:uid=867873529052457712903385&h2=%E4%BC%81%E7%94%BB

レビューお願いします。まぁこれで問題ないかな？

[2019-09-15 12:55] TAKAyukiatkwsk commented on #20
LGTM!
些細なところで気になったのはJAWS-UG金沢のロゴで「AW」の部分が少し崩れているように見えるのはもともとそういうものなんでしょうか？

[2019-09-16 03:14] PharaohKJ commented on #20
ほんとだね。なんでだろ。

[2019-09-16 03:19] higachan0406 commented on #15
芝寿しの新規会員登録を行いました。
はらぺこさん、とりべんとうで200個が買い物かごに入ることを確認しました。
団体名は「JAWS-UG 金沢」としました。住所等は東川の情報となります。
不都合がありましたら連絡いただければと思います。

届け先の情報も了解しました。
ありがとうございます。

[2019-09-16 03:20] PharaohKJ commented on #20
@ichigami さん、JAWS-UGのロゴがなんか白黒反転する際になんかなっちゃったのか、文字がくずれてしまっているの、なおります？元データの不備なのかな。

![スクリーンショット 2019-09-16 12 20 09](https://user-images.githubusercontent.com/1581985/64932807-7b701c80-d87c-11e9-9600-44c30156f271.png)

[2019-09-16 03:22] PharaohKJ commented on #20
難しいようでしたら、ロゴマークのみで、右側の文字は省いてしまってもいいかも。

[2019-09-16 04:10] ichigami commented on #20
@TAKAyukiatkwsk さん、 @PharaohKJ さん
JAWS-UGのロゴ修正しました。ご指摘ありがとうございました。
http://awscommunityday2019.yaranaika.me/

どうもイラストレーターのデータに色のない透明なパスがあって、ロゴの色を黒→白にするときに、そのパスにも色をつけてしまっていました。

[2019-09-16 08:32] PharaohKJ commented on #20
完璧。やったぜ。

[2019-09-16 08:57] higachan0406 commented on #15
昼の弁当はとりあえず。
ちなみに弁当は7万、懇親会は5万が使用する金額。

以下、思いついたことメモ。
[懇親会食事]
・ビール＋おつまみ　の構成で考えると、考え、発送伸びなくなりましたので
　一旦置きます。
・懇親会の食事の構成としては、以前私が考えた構成でまず考えます。
・ビールの数は、48缶、72缶、96缶の購入を考えます。
・ビールの銘柄はどうするか。2、3種選べる。
・ジュースはペットボトルで3本程度でよいか。
・ビールなどは予め運び込むとして、前日に運ぶことができるか。
　運搬方法はどうするか。
・冷蔵庫などでビール、ジュースは冷やす必要があるか。
・オードブルの箸、紙皿、また、紙コップは100均で用意が必要？
・オードブルあるなら柿の種系のつまみは不要と考えました。
　ただし、「白エビビーバー ケース(12袋) 」は検討したいと考えます。

[2019-09-16 09:03] higachan0406 commented on #15
@PharaohKJ さん

上にちょっとメモも書きましたが、
以下の確認をお願いしたいです。

・ビールの数はどのくらいが最低ライン数でしょうか。96缶は担保すべきなどありましたら
　おしえてください。
　私個人としては72缶のペットボトル3本がよいのかなと思いましたが、100人いて
　ビール飲めない！は可愛そうではあります。
　※懇親会食事の参加ぐあい見て、人数が超えそうならぬるくなるかもですが、
　　調達なども考えるか。
・施設にビール冷やすところありますでしょうか。
　ぬるくてもいい？

[2019-09-17 01:00] PharaohKJ commented on #20
AWSさんよりOKいただきました。最高です！という評価です。 @ichigami さんありがとうございます。

私の追加した文章のところで「AWS」→「アマゾン ウェブ サービス (AWS)」という表記変更だけ先方よりツッコミいただいてなおしました。

@aibax さん、 `awscommunityday2019.jaws-ug.jp` でライセンス発行申請中です。ドメイン取得よろしくおねがいします。

[2019-09-17 01:02] PharaohKJ commented on #16
さてTシャツなんですけどどうしましょ？それっぽいのってこれぐらいしかないからこれにする？
これ + STAFF とかかな・・・。

![スクリーンショット 2019-09-17 10 01 15](https://user-images.githubusercontent.com/1581985/65003158-21ca2980-d932-11e9-90ab-eaed5a22d7e5.png)

[2019-09-17 01:05] PharaohKJ commented on #15
ちょっと数は読めないですねー、本来は余るぐらい用意してあげたいところです。お車の方も多そうなんで、お茶も同じぐらい用意してあげたいですね。キツイか。

ビール冷やすところについては、施設の方に相談する。か。酒屋さんに宅配タイミング含めて相談するか。ですかね？

[2019-09-17 01:06] PharaohKJ commented on #8
ハンズオン用無線LAN準備

[2019-09-17 01:06] PharaohKJ commented on #8
お酒、冷やすところあるかないか確認、もしくは、宅配スケジュール確認

[2019-09-17 03:51] higachan0406 commented on #15
@PharaohKJ さん

ビール1箱(24缶)　ｘ　5 = 25,000円 (120缶)　
※ビール飲めない人を取りこぼさないようにするならこれ？残っても腐りはしませんが。
オードブル(3000円クラス。4名〜5名) x 5 = 15,000円　
※4名 ｘ 5 = 20人分。足りない？
ここまでで、40,000円。

後、ペットボトル5本で1,000円。
後の9,000円で、紙コップ、紙皿、箸(1,000円)
白えびビーバー(1箱2,200円)と、乾き物(柿ピー)、
和菓子(一口パウチ系)な感じでしょうか。
※ビール缶を人100見積もりなのに、オードブルのつまみ20って少なくない？　ってなると
　オードブルに予算を振らないといけないので、白えびビーバー、和菓子は
　諦めないといけません。ただ、後オードブル増やしても10人分ぐらいかな。

飲み物は酒屋さんでもいいですか。それだと冷えた

[2019-09-17 04:06] higachan0406 commented on #16
これベースなら、COMMUNITY DAYの下の「KANAZAWA」は大きくした方が、
どこでやってるかを写真とか取られたときわかりよいかもです。
バックプリントに大きくこれ、フロントの左右どちらかの胸にワンポイントこれ、
な感じでしょうか。
後、Tシャツの腕の箇所に「STAFF」って記述があると、お客さんはわかりよいかもですね。
左下、右上の紫がかったアイコンの塊、画像はシャツのワンポイントになってよいと思いましたが、シンプルなTシャツを好むなら、「COMMUNITY DAY」、「KANAZAWA」と「STAFF」
の構成もいいかなと思ったりしました。

[2019-09-17 04:46] PharaohKJ commented on #16
先方と確認だけど、AWSロゴは使えるのかなあ。

[2019-09-17 04:48] PharaohKJ commented on #15
@higachan0406 さん、支払いについては [立て替え払い申請](https://github.com/jaws-ug-kanazawa/aws-community-day/wiki#立て替え払い申請) に書いてあるので、その通り進めてください。

[2019-09-17 04:53] PharaohKJ commented on #16
@aibax さん、デザインの納期デッドライン、伺ってください。

[2019-09-17 05:27] PharaohKJ commented on #7
@PharaohKJ  登壇者オファー中 & 確定リストの作成

[2019-09-17 09:09] higachan0406 commented on #15
@PharaohKJ さん
立て替え払い申請の件、了解しました。

後、気づいたのですが、後片付けのタスクってここではないですよね？
手配なので、弁当配布、懇親会食事を準備までが認識しているタスクです。

気になっているのは、
・昼の弁当があまった際の対応方法。(14:00)
　→50個あまったら、誰かの家に持っていく？
・懇親会終わりの後片付け。(19:00)
　→ゴミは業者用ゴミ袋などを購入し、施設内のどこかに捨てれるか？
　→飲んでいない缶ビール50缶があったとして、誰かがもらう、もしくは
　　どこかに退避する必要があるのか。

この辺によっては、残って掃除含みで、その後の飲み会を辞退して、
自家用車を駐車場に設置しておき、対応を行う必要があると思われました。

新しいタスクとして、
・昼の弁当の対応タスク
・懇親会の終わりの後片付けタスク
のスレッド(トピック)が必要ではないか、と

[2019-09-17 13:15] PharaohKJ commented on #15
お弁当が余ったら配布しましょう。

ゴミについては持ち帰りが前提だったはずです、確認します。

お弁当の受け取り、懇親会用のあれこれ、など、荷物の搬入と配布はロジスティクス部の仕事にしようと思っています。

当日、人力が必要なタスクの洗い出しについては、「当日のスケジュール組」でいったんやっておきます。

[2019-09-17 14:26] higachan0406 commented on #15
@PharaohKJ さん
はい。ロジスティクス部、人力が必要なタスクの洗い出しなどの件、了解しました。
助かります。

それら以外で具体的なビールなどの数量などはおいおい相談させてください。
ご意見もお待ちしております。

[2019-09-18 04:30] higachan0406 commented on #15
@PharaohKJ さん

[懇親会食事]
数量もこれって言いにくいと思いましたので、
いくつかの構成をパターン化しました。

<パターン分け条件>
・ビール(24本 1箱)5000 円
・オードブル(4、5人分。4人で計算) 3000円
・ベースをビールとした。
・予算から固定費(一番下参照。)を引くと、38300円を使用できることがわかった。

１．ビール24本(5000円)　パターン
　33300円がオードブル予算となる。
　オードブルは11個(44人分)用意可能。

　メリット：食事潤沢。
　　　　　　また、オードブルが過剰なので、地元お菓子にまわして
　　　　　　地元コーナーを充実させるならこのパターン。
　デメリット：ビールが足りていない。

２．ビール48本(10000円)　パターン
　28300円がオードブル予算となる。
　オードブルは9個(36人分)用意可能。

　メリ

[2019-09-18 04:54] PharaohKJ commented on #20
@aibax さん、ライセンスファイルが提供されました。ドメイン設定して、httpsの設定とかに進みたいのでよろしくおねがします。

[2019-09-18 05:00] PharaohKJ commented on #15
3あたりでいきましょう。夜の懇親会申し込み数によっては全体的に上下するんで、申込みが多い場合には
予算を超えてしまうのはしゃーないかなと思います。

見積もりが甘かった。もっとかけたほうがいい、というのならそうしましょう。

夜
缶ビール72  5,000円 x 3ケース = 15,000円
烏龍茶缶48  2,000円 x 2ケース = 4,000円
オードブル50人分 5,000円 x 50/5 = 50,000円  (
https://www.online-shibazushi.com/products/detail/80 )
紙食器・紙箸 100人分 = 業務スーパーで1,000円ぐらいかな
金沢市ゴミ袋 45リットル10枚入り = 450円
紙コップ、プラカップ、大ペットボトルは、ついでまわるのがめんどいのでなし。

昼
お菓子 2,000円
地元お菓子 5,000円

こんな感

[2019-09-18 09:14] higachan0406 commented on #15
@PharaohKJ さん
「３．」案ですね。了解しました。

ちなみに、予算を今回のように3万ぐらいを超えた場合の負担はどういう
扱いになりますでしょうか。
１．AWSさんより追加で支給がある。
２．このコミュニティで分担するなどで負担が必要である。

「２．」の場合は、何かを諦める必要があると思われました。

オードブル50人分(5000円 x 10個)ですね。
オードブルも芝寿しで、キャンセル対応の確認を芝寿しさんに行います。
缶の飲み物了解しました。

[2019-09-18 11:36] PharaohKJ commented on #15
超えた場合は

ということでまた考えましょう。ここでいうごめんなさいは「見積もりが甘かったです。予算をオーバーしましたが、追加予算でフォローをお願いしますとAWSさんに頭を下げる」の意味です。

[2019-09-19 04:27] higachan0406 commented on #15
@PharaohKJ さん
了解しました。私が(も)頭を下げますのでなにとぞと思います。
ドリンクスポンサー来てくれますように。

芝寿しにたけださんじゃない女性の方(名前忘れました。)に
オードブルのキャンセルについて伺ったところ、
お弁当と同じのキャンセルルールでよいそうです。
その方も量が多いものは2,3前には連絡が欲しい、
また、お客様(私たち)の都合もありますので、前日の正午までに
連絡いただければ対応します、とおっしゃっていただきました。

[2019-09-19 09:35] matyuda commented on #18
良いと思います。
17時20分からトラック2側にある予備枠についてですが、懇親会に参加されない方向けに名刺交換の時間としても良いかと思います。

また、細かい点ですが、
#7 よりトラックはトラック1,2からトラックA,Bに変更する案となっていますが、確定でしたら企画書並びにホームページも変更をお願いします🙏（ホームページ側は今後の変更のタイミングで構わないと思います）

[2019-09-19 09:38] matyuda commented on #16
ロゴの利用ガイドラインにTシャツについても記載があった記憶があります。
対象ページは別途確認して追記しておきます。

[2019-09-19 13:38] PharaohKJ commented on #16
たすかりますー。よろしくおねがいします。

[2019-09-19 13:38] PharaohKJ commented on #18
お、そうですね。そのようにしておきます。

- [ ] ウェブページ、企画書などトラック番号を正しく書くこと

[2019-09-20 07:31] PharaohKJ commented on #15
忘れてました。昼食、お茶ださないといけないな。

[2019-09-21 10:37] aibax commented on #20
jaws-ug.jp ドメインにサイトのホスト名登録完了しました。
<img width="596" alt="dig" src="https://user-images.githubusercontent.com/4516376/65372161-45310380-dca7-11e9-8cab-5607e062056a.png">

[2019-09-22 01:33] aibax commented on #20
サイト見れるようになりました。
http://awscommunityday2019.jaws-ug.jp/

[2019-09-22 04:23] PharaohKJ commented on #12
https://forms.gle/GuGEZu9dTyb3L1mMA

ロゴファイル登録用フォーム作りました。続けて登壇応募フォーム作ります。

[2019-09-22 08:08] PharaohKJ commented on #12
応募フォームつくりました。短縮URLもつくりました。

wiki にURL貼っておきましたが、企業様向け企画書にも貼り付けておきます。

[2019-09-22 08:19] PharaohKJ commented on #12
https://paper.dropbox.com/doc/--AlRNR6i7CXhbCnsoJ~XPFOSvAg-RiMyMAijPmiulzeyeO0Wq#:uid=082737545312939111859649&h2=%E5%8D%94%E8%B3%9B%E3%82%B9%E3%83%9D%E3%83%B3%E3%82%B5%E3%83%BC%E3%81%95%E3%81%BE%E3%81%B8

https://github.com/jaws-ug-kanazawa/aws-community-day/wiki#aws-community-day-金沢-2019-準備会-wiki

に記載済み

[2019-09-23 00:04] PharaohKJ opened #22 "スポンサーロゴ掲載"
https://docs.google.com/spreadsheets/d/1h23OuAH86_VcUPLnEOCj__bJUDPPSf-2QB9mLpSSucw/edit?usp=sharing

↑フォームに投稿があったらここが追加されていくので、これの何行目まで対応したか、ここで進捗記録していきます。

[2019-09-23 12:06] higachan0406 commented on #15
[懇親会食事]

１．缶ビール5,100円 x 3ケース(72缶) = 15,300円
　　※銘柄はアサヒスーパードライを1ケース。
　　　後はハイボール、酎ハイなど。ビール以外あるか、お願いする酒店にまだ未確認。
　　<注文日(注文内容確定日)> 11/9(土)

２．[烏龍茶](https://www.amazon.co.jp/Amazonブランド-Happy-Belly-烏龍茶-500ml×24本/dp/B0784N26FV/ref=sr_1_12?__mk_ja_JP=カタカナ&keywords=烏龍茶+ペット&qid=1569425341&sr=8-12) 24本 x 1箱 1,596円
　　[緑茶](https://www.amazon.co.jp/Amazonブランド-Happy-Belly-緑茶-500ml×24本/dp/B077RVKFNK/ref=pd_sbs_325_

[2019-09-23 12:07] higachan0406 commented on #15
[昼食のお弁当]

<弁当選定、費用>
はらぺこさん(693円)
とりべんとう(600円)

おにぎり弁当(600円)

この内、はらぺこさん(693円)、とりべんとう(600円)の2種を選択する。
弁当＋お茶の構成が必要なことがわかったので、弁当のグレードを下げる場合は、
おにぎり弁当(600円)が妥当と思われる。

１．はらぺこさん(693円) x 50人 34,650円
　　※箸、お手拭き付き。
　　<注文日(注文内容確定日)> 11/9(土)
２．とりべんとう(600円) x 50人 30,000円
　　※箸、お手拭き付き。
　　<注文日(注文内容確定日)> 11/9(土)

３．お茶
　　[烏龍茶](https://www.amazon.co.jp/Amazonブランド-Happy-Belly-烏龍茶-500ml×24本/dp/B0784N26FV/ref=sr_1_12?__m

[2019-09-24 00:45] matyuda commented on #20
@aibax さん
ご対応いただきありがとうございました。

こちらのページにリンクを掲載していただくためには、沼口さんへお願いすることになりますか？
https://aws.amazon.com/jp/events/community-day/

[2019-09-24 01:55] PharaohKJ commented on #20
きいてみます。

[2019-09-24 02:03] PharaohKJ commented on #20
申請中とのことです。

[2019-09-24 11:54] PharaohKJ commented on #20
とりあえず公開したのでここはクローズしますね。

[2019-09-24 11:54] #20 closed, assigned to PharaohKJ, ichigami, aibax

[2019-09-24 11:56] PharaohKJ commented on #22
@jaws-ug-kanazawa/communityday の方々はみんな運営協力なはずなので、よろしければぜひ↑。
といってもほぼ個人でやってる連中だけになっちゃうか。

[2019-09-24 11:59] PharaohKJ commented on #16
@aibax さん

とのことです。

[2019-09-24 12:00] PharaohKJ commented on #17
もうウェブページ公開したので、戦略たててやること。

[2019-09-24 12:01] PharaohKJ commented on #11
決定したのでいったんクローズ

[2019-09-24 12:01] #11 closed, assigned to PharaohKJ

[2019-09-24 23:33] PharaohKJ commented on #22
800x800以上の正方形サイズに変換して掲載すること

[code]

[加工前後の画像付き！ImageMagickのオプションを最高に分かりやすく解説してみた - bitA Tech Blog](https://tech.bita.jp/article/27)

[2019-09-25 14:07] higachan0406 commented on #15
本日、直接お話を聞きに行ってきました。

[確認したお店]
２．乙村酒類販売（株）
　　 〒920-0853 石川県金沢市本町２丁目１−３

※女性のメガネをかけた奥さんに対応していただきました。

[確認内容]
・缶ビール　1ケース(24缶) 5,100円
・ペットボトル500ml 1ケース(24)　3,120円(1本130円計算)
　烏龍茶の缶でといっているのに、ペットボトルの話しになっていました。
　言われてる1本の価格が160円でなく、130円で缶の値段なのでおそらく缶。
・[昼食のお弁当]の紙パックお茶はおそらく取り扱っていない。
　なので、こちらも烏龍茶の缶になる場合あり。
・1ケース売りしか受け付けません、との話しでした。
・配達は無料。ただし、昼(11:00)、夜(17:00)の2回はしたくない様子。
   いくらか払えばしてもらえる？
・支払いは「現金」のみ。
・お店の冷

[2019-09-25 15:33] PharaohKJ commented on #15
ありがとうございます。

烏龍茶の缶/ペットボトルは通販で済ませましょう。冷えてなくてもいいんじゃないかなあ。

https://www.amazon.co.jp/神戸茶房-烏龍茶缶-340g×24本/dp/B00IR0IUNE/ref=sr_1_8?__mk_ja_JP=カタカナ&keywords=烏龍茶+缶&qid=1569425073&sr=8-8

だいたい2,000円 x 2で4,000円かな。いちいち変更するもアレなら、昼も夜も兼ねて、ペットボトルにしちゃうか。それなら蓋できるし。

[烏龍茶](https://www.amazon.co.jp/Amazonブランド-Happy-Belly-烏龍茶-500ml×24本/dp/B0784N26FV/ref=sr_1_12?__mk_ja_JP=カタカナ&keywords=烏龍茶+ペット&qid=1569425341&sr=8-12

[2019-09-25 22:08] matyuda commented on #7
- [ ] 配信機材一式の手配

1日あたり3万円程度での委託案あり

[2019-09-26 03:51] higachan0406 commented on #15
キンキンに冷えてやがるビールだけ頼む件了解しました。

神戸茶房のパッケージはお上品ですね。これもいいですね。
後は、11月20日なのでそこそこ冷えてると思われます。
１．神戸茶房-烏龍茶缶(24缶) x 6(144本) で 10,000円(9,210円)ぐらい
２．烏龍茶(ペット) 24本 x 3 で 5,000円ぐらい
　　緑茶(ペット) 24本 x 3 で 5,000円ぐらい
　　(144本)
３．神戸茶房-烏龍茶缶(24缶) x 2 [懇親会食事] ※逆だったので直しました。
　　烏龍茶(ペット) 24本 x 2 [昼食のお弁当] ※逆だったので直しました。
       緑茶(ペット) 24本 x 2 [昼食のお弁当] ※逆だったので直しました。

案「３．」ですかね。

[確認]
・お茶の当日の配達方法。
　→酒屋に頼む理由としては、配送イベントも対応してもらう狙いが
　　あり

[2019-09-27 02:58] PharaohKJ commented on #16
@aibax さんと電話で話した内容
- 袖の印刷は無理そう
- あってフロントプリントとバックプリントか
- STAFF って入れちゃうと、本会以外では使えなくなっちゃう
  - それきてたら店員と間違えられて声かけられる・・・でもそれって会場では目立っていいのでは？
  - STAFFマーク腕章とかにするってのもありか
- 本会&AWS 以外の スポンサーロゴ印刷はどうする？ > なしがいいのでは権利も難しい
- 締め切りは @aibax さん確認中
- デザインはやってくれる人は探す、いまのところ、OGPグラフのあれだけでも十分では・・・。

いまのところ、デザインロゴ予算1万円でやってくれる人で @PharaohKJ が打診したところ
ぺーたさん ( https://www.pixiv.net/member.php?id=29214 ) からOKもらってます。
他いいかたいらっしゃ

[2019-09-27 06:39] PharaohKJ commented on #15
ざわ・・・ざわ・・・

そういえば会場から「余った飲料すてるところないので飲みきりでお願いします！」って言われてたんでした。

つまり 2. 案で。ペットボトルで乾杯はサマになりませんが、しゃーなしで。

缶あけちゃったら捨てないといけないし、お茶は全部ペットボトルでいきません？そうすれば最悪持ち帰ってもらえる。

お茶の保管場所は @aibax さんの事務所にお願いしたらダメですかねえ・・・。

[2019-09-28 02:15] PharaohKJ commented on #22
2rythm さんまで掲載済み

[2019-09-28 02:15] PharaohKJ commented on #7
勉強会トラック配信部はちょっと別issueでやりましょう。

[2019-09-28 02:16] PharaohKJ opened #23 "勉強会トラック配信部"

[2019-09-28 02:16] PharaohKJ commented on #23
#7 より派生

[2019-09-28 14:05] higachan0406 commented on #15
「2. 案」了解しました。

[懇親会食事]
８．地元お菓子 5,000円　○(白えびビーバーはそろそろ。和菓子(松任の円八あんころなど。)は当日ぐらい。)

添付のお菓子を買いました。
地元(北陸)お菓子で扱いますね。
・うま○棒だと思ったけど、白エビ棒。
・味はまだわかりません。ただ、観光客向けに売店入り口に山積みになってた商品。
・買ったのは富山県の立山駅です。金額は864円。(消費税8%)
　※下のレシートの形をしたものが領収証となります。後ほど申請予定。
　　上のレシートは家族用なので関係ないやつです。
・賞味期限20.02.29
・30本入り。
![IMG_0758](https://user-images.githubusercontent.com/54109924/65817580-f9043700-e243-11e9-82b4-046b940c1af2.jpg)
![IM

[2019-09-29 00:33] yuuitiro commented on #17
Twitter アカウント取っちゃいますか。
jawsugkanazawa とかとってもかまわんですかね？

[2019-09-29 00:42] PharaohKJ commented on #17
今後の運用を考えると悩んじゃうんだよなあ。ドアキのイベントをツイートし続けるマシーンになるとして、どれだけの人にみてもらえるかと言うと・・・。あーでも当日会場の実況もある程度やりたいし、作らざるをえないのかな。どうですかね？それもハッシュタグでカバーできるのかな。

[2019-09-29 00:42] PharaohKJ commented on #17
@jaws-ug-kanazawa/communityday どうですかね？ ↑
とりあえず、来週中に決めましょう。

[2019-09-29 00:53] yuuitiro commented on #17
最初 専用アカウントとってそちらでツイートするイメージで考えていましたが、今更新規アカウント取ってフォロー集めて拡散することを考えると、communitydayとしてのメリット薄いっすね。

アカウント取得して communityday 以後の運用を前提に活用するならば作る意義あるかな。

自分はそもそも鍵垢なんで、波及させる力が弱い :(

[2019-09-29 05:55] matyuda commented on #15
白えびビーバーは近くのマルエーに売っていましたので、ケース買いになりませんが店頭在庫分買いましょうか？
1袋あたり198円＋税だったとおもいます。

[2019-09-29 05:58] matyuda commented on #23
Slackより転記

Media JAWSの三浦さんにアドバイス頂きまして、
https://obsproject.com/ja?fbclid=IwAR1M12L8C0xwldvjpmGmXBgRiiKs-lndmEUh1As9DD9TYV3Qe-L4AD8rtes
こちらを利用して、リアルタイム配信してはどうか？という話がありました。

収録して後日配信は、つらいのでやめた方がいいとのアドバイスもいただいています。リソースが限られているのでバランスは大事ですが。。。

リアルタイム配信例
https://www.youtube.com/watch?v=YzDASQcTHwE&feature=youtu.be&fbclid=IwAR0_24_pAW9Cc16ttqRjupthfU9uEPm-ZfjaOaF6ktAfFc5s8FqMrND0YzE

[2019-09-29 06:11] PharaohKJ commented on #15
1袋あれば十分かな？いまいち読めないですね・・・。とりあえず2袋買っておきますか。
他にもいろいろあるんで1口あればよいでしょう。

[2019-09-29 06:13] PharaohKJ commented on #23
当日配信のほうがリソースつらい説もあり。

ちょっと要件まとめませんか？

[2019-09-29 09:29] PharaohKJ commented on #1
次これ目標でやります。

2019-10 最初の週中に公開予定。AWSさん側から提示のプライバシーポリシーについては、公式slack #community-day-2019 で提供あり。

[2019-09-29 09:30] PharaohKJ commented on #3
まぁいったんよしとする

[2019-09-29 09:30] #3 closed, assigned to nobody

[2019-09-29 09:32] PharaohKJ commented on #12
とりあえず私が声かけやすいところはかけました。

担当決まってないところ、真面目に担当決めましょう。目標は10月第一週中。

[2019-09-29 09:33] higachan0406 commented on #15
@matyuda さん、白えびビーバー2袋お願いします。賞味期限はおそらく来年2月まであるかと思いますが、確認お願いします。
また、購入後は、[立て替え払い申請](https://github.com/jaws-ug-kanazawa/aws-community-day/wiki#立て替え払い申請)にて申請をお願いします。

[2019-09-29 09:35] PharaohKJ commented on #12
@jaws-ug-kanazawa/communityday

https://docs.google.com/spreadsheets/d/12GxEBJuL2my9iDPWs-JmgCqTvCT12RF7lGA7FaB0lgE/edit?usp=sharing

の担当あいてるところ、誰か手伝っていただけませんか？

[2019-09-29 09:57] PharaohKJ commented on #18
↑、ウェブページ、企画書修正済み。いったん完了

[2019-09-29 09:57] #18 closed, assigned to nobody

[2019-09-29 09:58] PharaohKJ commented on #9
@matyuda さん、そろそろペーパー作っていきたいと思います。
ちょっとレイアウト案から作成してもらってみんなでレビューして進めていきませんか？
登壇者が決まらないときまらないかな。

それはそうと、全体スケジュールがいるな。

[2019-09-29 10:49] matyuda commented on #15
@PharaohKJ @higachan0406 さん
承知しました。
あんころは、カントリーマアム１箱を買いますか？それとも当日あんころを購入しますか？
カントリーマアムであれば先に購入しておいても良いかと思っています。

[2019-09-29 10:59] matyuda commented on #9
@PharaohKJ さん
案内ペーパー＝パンフレット　でよいですか？
それとも別の案内用の事前配布チラシとして別に作成するものでしょうか？

パンフレットであれば、レイアウト案が下記にありますので、一旦レビューいただいても良いと思います。
https://github.com/jaws-ug-kanazawa/aws-community-day/tree/master/%E6%A1%88%E5%86%85%E3%83%91%E3%83%B3%E3%83%95%E3%83%AC%E3%83%83%E3%83%88/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF

全体スケジュールは、余裕を見て下記で考えています。
（価格を抑えるために校了～印刷物着までの期間は６＋２営業日確保しておく必要があります）
登壇者と講演内容が１０月中に決まるとよいのですが、、、、
１１月１日　Git

[2019-09-29 11:11] matyuda commented on #22
@PharaohKJ 案内パンフレットにロゴを掲載するため、掲載用ファイルのURLに参照権限をリクエストしておきました。お手数ですがご確認ください。

[2019-09-29 11:22] PharaohKJ commented on #22
済ですー
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pxw_kato / twitter: PhalanXware

[2019-09-29 11:38] higachan0406 commented on #15
@matyuda さん
カントリーマアム(あんころ)の販売場所はまだ見つけていない状態です。
こちらも販売場所が判明している場合は、購入をお願いしたいです。

イベントまでに見つからない場合は、駅前であんころ or その他和菓子を検討したいと考えています。

[2019-09-30 01:03] PharaohKJ commented on #12
先方から質問がきたので、資料にFAQを追加して書き込んでおきました。

https://paper.dropbox.com/doc/--AluRnZ~3rJzLFh3jziQkq3koAQ-RiMyMAijPmiulzeyeO0Wq

[2019-09-30 05:41] higachan0406 commented on #15
[懇親会食事]
ビールの注文先の確認となります。
<確認したお店>
１．（株）酒の大沢(おざわ) 近江町市場店
　　〒920-0905 石川県金沢市上近江町３０−１
　　076-232-3636

※女性の方に出ていただきました。

・ビール1本249円です。(1ケース5,976‬円)
・水曜は午前中のみ配達。午後は無理です。
ビールの単価が高い、午後の配送は無理なのでここはなしの判断です。
その他の情報は以下です。

・ビールは冷やしておけます。
・お茶は取り扱っていますが、不良在庫になるのは避けたいニュアンス。
・水曜はやってます。休みはなし。
・配達は無料です。
・キャンセルは1週間前には連絡ほしい。
・支払いは「現金」のみ。

以上です。

一番近いのでなにか追加注文、トラブルがあった際はこちらを
見てもよいと思いますが、ビールの注文は乙村酒類販売（株）さんにしようと思っています。

[2019-09-30 06:15] higachan0406 commented on #15
https://github.com/jaws-ug-kanazawa/aws-community-day/issues/15#issuecomment-534070173
https://github.com/jaws-ug-kanazawa/aws-community-day/issues/15#issuecomment-534070503
<変更履歴>
・<注文日(注文内容確定日)>項目 を追加。11/1(金)に確定、11/9(土)に確定のものが存在します。
・現時点でわかっているもので、価格の再計算を行いました。
・箸について。

[2019-09-30 08:45] PharaohKJ commented on #15
@matyuda さんカントリーマアム優先にしましょう。生菓子は怖いんで・・・。

[2019-09-30 08:48] PharaohKJ commented on #9
そうかごめん、折込案内パンフレット、と、掲示用ポスター(ペーパー)の2つを勝手に考えてたけど、いまのところ、案内パンフしか決めてないんだっけ。

事前配布チラシ、ほしいですね。少なくとも会場のITBP武蔵に貼っておきたい。できますかね？印刷は必要に応じて各自がコンビニカラープリントでいい気がする・・・気がする・・・。

11月1日が登壇内容のデッドラインね。わかりました。ちょっとそのスケジュールで周りを煽っていってください。

(うーんやっぱりパンフに書くってオオゴトだねえ。イベント20日前に確定しなきゃいけないってのはね。)

[2019-09-30 13:51] matyuda commented on #15
承知しました。
カントリーマアム(あんころ)は、円八本店で取り扱いがありますので、購入しておきますね。

[2019-09-30 13:53] matyuda commented on #9
案内パンフしか決めていませんでした。
掲示用ポスター(ペーパー)については、A4 or B4あたりで作成しますね！
枚数が少ないと思いますので、コンビニカラープリントで考えておきます。

[2019-10-01 11:41] TAKAyukiatkwsk commented on #17
来客者の目線だと、community dayなりJAWS-UG金沢なりの公式アカウントがあるとそれを真として情報を得たり動けたりするので嬉しいのかなと思います。(会場運営的にもやりやすくなるかも？)
イベント後もアカウントを活かせる方法があるとより良いとは思いますが 💦

専用アカウント取る取らないに限らず、ハッシュタグは用意しておいた方がよいと思います。

[2019-10-01 11:46] TAKAyukiatkwsk commented on #16
数人でおそろいのTシャツ来ているとそれだけでスタッフ感出るので、あえてTシャツにプリントしなくても良いのかなと思います。補助的に腕章や名札でスタッフとして識別できると良さげですね。

[2019-10-02 01:18] PharaohKJ commented on #23
@matyuda さん、↑の件まとめお願いできますか？その資料もって、配信やってる子のところ相談にいきたいと思います。

[2019-10-02 01:19] PharaohKJ commented on #17
フォローしてね、って宣伝するがめちゃくちゃ大変なんだよなー。迷う。

[2019-10-02 01:20] PharaohKJ commented on #8
表作成開始した

https://docs.google.com/spreadsheets/d/1KsQG6cpehQqIgtaKsbN3EDsfRDA7vPWyQRx8EXgLFQw/edit?usp=sharing

[2019-10-02 01:21] PharaohKJ opened #24 "登壇者掲載"
進捗レポートを書くところ。手分けしてやることも検討。

@TAKAyukiatkwsk さんまで掲載済み

[2019-10-02 01:26] yuuitiro commented on #17
アカウントは取っちゃって、今回に限ってハッシュタグに一票。

今回のイベント前にアカウントを活用するのは時間的猶予もないので、イベント後にアカウントを活用する道を考えたらどうでしょうか？

[2019-10-02 01:30] yuuitiro commented on #17
ちょっと追記。

「フォローしてね」って宣伝するのは今回のイベント中で :)

[2019-10-02 04:17] matyuda commented on #9
- [x] パンフレットには終電案内載せる
ポスターにはスペースがあれば、開始に間に合う時間と経路案内を載せる

[2019-10-02 18:13] PharaohKJ commented on #17
確かUGの電子メールアドレスあったんで、それでtwitterアカウントとってしまいます。

[2019-10-02 18:31] PharaohKJ commented on #16
@jaws-ug-kanazawa/communityday

とりあえず、ぺーたさんに以下の内容でお願いしました。過不足ありましたらコメントお願いします。

https://paper.dropbox.com/doc/T--Al7UKoRaeFAO2hC5PftCXX3jAQ-KLhM0qoZyvtar3cPXmXsj

[2019-10-02 18:36] PharaohKJ commented on #12
@jaws-ug-kanazawa/communityday ↑どうでしょう？土曜のJAWS-UG金沢終わって日曜までに埋まらなかったら加藤が手配してお願いします・・・。すみませんが手伝ってください。

[2019-10-02 21:33] yuuitiro commented on #17
おねがいしまーす

[2019-10-04 13:24] matyuda commented on #23
@PharaohKJ 承知しました。遅くなりましたが、要件整理始めます。
明日の録画についてですが、ライブ配信用のYoutubeのアカウント設定をしたところ、有効になるまでに２４時間かかるようです。明日、ライブ配信は間に合わない可能性があります。。。。間に合わない場合には、録画で進めたいと思います。

[2019-10-04 13:39] matyuda commented on #23
10/5 プレイベントで検証すること

- [ ] 帯域幅チェック https://www.google.com/search?q=speedtest

- [ ] 音声入力の確認 プレゼン用のPCのマイクと会場マイクによってハウリングが発生しないかどうか

[2019-10-06 09:03] higachan0406 commented on #15
@matyuda さん、カントリーマアム(あんころ)の購入ありがとうございました。

後は、生菓子以外で思いついた地元お菓子あったら連絡して購入したいと思います。

@aibax さん、ペットお茶の購入と、イベントまでの保管をお願いできますでしょうか。
<注文日(注文内容確定日)>を決めていますので、その日になったら一度、
人数の再見積もりを@PharaohKJ さんから受けて、購入をお願いします。

後は、自分のメモです。
[懇親会食事]
・乙村酒類さんに現金支払いは商品受け渡し時でも可能かを確認する。(ひが)

[2019-10-06 22:08] matyuda commented on #15
白エビビーバー含め、お菓子調達完了しました。
五郎島ポッキー(個包装・15本入り/886円)や加賀棒茶ハッピーターン(個包装・20袋入り/896円)が道の駅めぐみ白山に売っていましたが、買ってきましょうか？

[2019-10-07 18:21] PharaohKJ opened #25 "ハンズオン部"
- 企画・内容の決定
  - 今なんのハンズオンしてるかを提示するなんかあるといいな
- 人のアサイン
  - 当日の時間割の決定
- AWSのクーポン配布方法検討
- 事前登録方法検討
  - もしくは事前登録なしで自由にきてもらう形式にして、入場制限だけする？
    - いまのところ必要ないと思うけど・・・
- ハードウェアも絡めたIoTハンズオンあるといいなあ

[2019-10-07 18:23] PharaohKJ commented on #16
ぺーたさんから上がってきた質問をさらに詳細を @aibax さんに転送中。
いまのところ10月中に校了を目標。

[2019-10-07 18:30] PharaohKJ opened #26 "飲料の発注と運び込み"
#15 より

https://github.com/jaws-ug-kanazawa/aws-community-day/issues/15#issuecomment-534070503

３．お茶
　　[烏龍茶](https://www.amazon.co.jp/Amazonブランド-Happy-Belly-烏龍茶-500ml×24本/dp/B0784N26FV/ref=sr_1_12?__mk_ja_JP=カタカナ&keywords=烏龍茶+ペット&qid=1569425341&sr=8-12) 24本 x 2箱 3,192‬円
　　[緑茶](https://www.amazon.co.jp/Amazonブランド-Happy-Belly-緑茶-500ml×24本/dp/B077RVKFNK/ref=pd_sbs_325_1/355-0599288-8791958?_encoding=

[2019-10-07 18:31] PharaohKJ commented on #15
お茶に関しては #26 に委譲。

[2019-10-07 18:35] PharaohKJ commented on #15
↑立替準備金について了解。
当日荷物が入ってくることが確定したらロジティクス部のスプレッドシートに記入してください。
荷物受け取りの際にお金を払うパターンの場合、額も記入できるようにしておきます。

カントリーマアム、うまい棒など記入しておいたので、増えていくたびに書いていってください。

https://docs.google.com/spreadsheets/d/1KsQG6cpehQqIgtaKsbN3EDsfRDA7vPWyQRx8EXgLFQw/edit?usp=sharing

[2019-10-07 18:46] PharaohKJ opened #27 "会場2のプロジェクターを調達"
ITBP武蔵では用意できないので準備してほしいとのこと。

[2019-10-07 18:47] PharaohKJ commented on #25
ハンズオン用の無線LAN準備

@matyuda さんの、何台つながった実績あります？
@PharaohKJ  のは、20台ぐらいはいけた実績がある。

どっちかのをメイン、どっちかのをバックアップにする予定。

[2019-10-07 23:58] higachan0406 commented on #15
@matyuda さん、
五郎島ポッキー、加賀棒茶ハッピーターン良いと思います。
五郎島ポッキーはチョコものと思いますので、開催日付近の購入が良いのかと
思いました。ご家庭の冷蔵庫に余裕があるのであれば入れて頂ければと思います。

@PharaohKJ さん、お茶の委譲の件、了解しました。よろしくお願いします。
立替準備金の件、ロジティクス部のスプレッドシートの件、ありがとうございます。
了解しました。

[2019-10-08 10:20] matyuda commented on #25
私の無線LANは5台程度あります。
同一のSSIDにして、同時に利用するとチャンネルが混載しますかね…

[2019-10-08 11:31] PharaohKJ opened #28 "ノベルティの決定"
ストラップがいいんじゃないか？

[2019-10-08 11:32] PharaohKJ commented on #16
登壇者Tシャツも含めて検討すること
色分けとか
大量発注で安くならないか検討すること

@aibax さんちょっと↑相談させてください

[2019-10-08 11:36] PharaohKJ opened #29 "当日受付チーム担当"
手が回らなかったら、イベント会社手配してもいいよ。とおっしゃっていただけている。

[2019-10-08 11:37] PharaohKJ commented on #29
ドアキを使ってのオペレーション・机配置含めて検討すること

[2019-10-08 11:38] PharaohKJ commented on #19
AWSさんが立ちロールを2枚手配してくれるので、それも含めた、ポスター貼るところの決定

[2019-10-08 11:41] PharaohKJ commented on #28
・受付済み
・受付済み & 写真NG
・スタッフ
・スポンサー & 写真NG

の4色ぐらいかな？

[2019-10-08 11:42] PharaohKJ commented on #25
同一のSSIDにして、同時に利用して、チャンネルわけて運用すればいいと思いますよ。

[2019-10-08 11:45] PharaohKJ commented on #29
ノベルティ（いまのところストラップ予定）を配布
写真NG登録の人など、登録枠に応じてストラップを配布すること

[2019-10-08 11:47] PharaohKJ commented on #5
まぁいまのところOKもらってるのでいったんclose

[2019-10-08 11:47] #5 closed, assigned to PharaohKJ

[2019-10-08 11:49] PharaohKJ opened #30 "会場レイアウト作成"
- 開場時
- キーノート時
- 本会時
- 宴会時

ポスター貼る場所

#9 も参照のこと

[2019-10-08 11:51] PharaohKJ commented on #9
↑ @matyuda その書き方だと todo さんに声かけちゃってるからよくないよw

TODO書くときは ` - [ ] ` がいいかも。

[2019-10-08 12:30] PharaohKJ commented on #30
2019-10-10 17:00 ITBP武蔵に集合し、作成予定

[2019-10-08 12:31] PharaohKJ commented on #17
@jaws-ug-kanazawa/communityday
https://twitter.com/jawsug_kanazawa
作成しました！とりあえず @yuuitiro さんにはIDとパスワード教えておきます。それ以外の方は連絡ください。

[2019-10-08 15:07] PharaohKJ commented on #24
13列まで記入済み(金沢工業大学さま、クラスメソッドさま)

[2019-10-08 15:24] PharaohKJ commented on #22
DMM.com さままでロゴ記載済み

[2019-10-09 03:26] higachan0406 commented on #15
[懇親会食事]
・アルコールはビールだけでなく、缶チューハイ、ハイボール、サワー
　があったほうがよい。
　→3ケースあるうち、1ケースもしくは2ケース分を上記の酒の種類のもの
　　にする？
・今の数量で足りるか。（１本で足りない人は２、３本いく？）

[【2019最新】市販でおすすめの缶チューハイ16選。美味しい＆コスパ最強の一本とは](https://smartlog.jp/141319)

乙村酒類販売さんはケース売りなので、例えば、ハイボールを頼むにしても
1ケース販売なので24缶がハイボールになります。
ただ、ビールが不足してやむなくその他をお渡しすることが想定されました。
後は、11月頭に人数見積もりが出ますが、人数が少ない場合は、
ビールのみで注文する or ペットお茶と同じくネット注文も考える
必要があるかと思われました。

[2019-10-09 07:34] PharaohKJ commented on #17
@yuuitiro さん、ツイートしてほしい内容を何かしらの方法で連絡するんで、ツイートしていってほしいです。で、それをFacebook連携でJAWS-UG Kanazawa公式ページに転送する。という運用にしようと思います。

連携までは @PharaohKJ がやります。

この方法でどうですかね？

[2019-10-10 03:29] aibax commented on #16
仕様と一緒に確認中。
枚数どのくらいで費用計算しましょうか？

[2019-10-10 06:04] PharaohKJ commented on #16
ちょっと数見積もりも含めてやってほしいですー。

とりあえず、いまはスタッフだけ予定で15着

登壇者全員はカバーするとして、今数えたら枠18、今後2人の枠が増える & ハンズオンのヘルプや、
運営協力スタッフにも渡すとして +7 で 25着

S M L XL XXL XXXL あわせて、40着ぐらいかなと思います。ディスカウントきくのは何着からかな・・・。
100とかいかないとダメですかねえ？

2019年10月10日(木) 12:29 Daisuke AIBA <notifications@github.com>:

--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-10-10 06:24] aibax commented on #16
印刷方式はシルクスクリーンで確定

[2019-10-10 06:30] PharaohKJ commented on #15
人数少なかったら冷えてるビール1ケース宅配 & 残りは下のローソンで冷えてるアルコール調達でよいと思います。

2019年10月9日(水) 12:26 higachan0406 <notifications@github.com>:

--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-10-10 21:47] PharaohKJ commented on #17
@yuuitiro さん、連携したSNSに投稿するという buffer というサービスがありまして、それのアカウントを取得、UG金沢のtwitterとUG金沢のFacebookページへの連携を行いました。

そのページにログインし、投稿すると両方ともに反映されるので、試してみてください。
bufferのログインIDとパスワードはslackのDMでお送りします。

[2019-10-10 21:59] PharaohKJ commented on #30
# 受付モード

会場Aに椅子80、会場Bに椅子60が基本ですが、最初のキーノート時に足りなそうな場合、会場Bより
椅子を運び込むこと（この数字は、ドアキの申し込み量で判断）

<img width="1112" alt="F6" src="https://user-images.githubusercontent.com/1581985/67255140-8e00f580-f4bb-11e9-82c6-97c7ad107b54.png">

# ハンズオン会場

![F5](https://user-images.githubusercontent.com/1581985/67255013-f0a5c180-f4ba-11e9-8726-85d23ce87b24.png)

# 懇親会モード

1. ハンズオン会場を閉鎖
2. 会場Aをスタッフのみにして、お客さまらを展示場・会場Bにて待

[2019-10-10 22:01] PharaohKJ commented on #30
@jaws-ug-kanazawa/communityday 各位レビューお願いします↑
足りてない・書いてないものがあったら教えて下さい。

[2019-10-10 22:03] yuuitiro commented on #17
@PharaohKJ おはよーございます。了解です！

[2019-10-10 22:34] PharaohKJ commented on #28
https://strap.just-shop.jp/categories/?hyoji=1&category=20801&cCd=2&type=208

これがよさそう。カードケース付きなんで困ることなさそう

高いんで
受付済み（ノーマル、黒っぽい色）で150本 15mm（2色印刷） （36,000円）x 1.5 = 54,000円
写真NG（オレンジ）で50本 380円 （19,000円） = 19,000円
の2つにしましょう。スポンサー・スタッフはTシャツでカバー。
あわせて **73,000円** 。どうでしょ？ > @jaws-ug-kanazawa/communityday

[2019-10-10 22:40] PharaohKJ opened #31 "宣伝A4チラシ"

[2019-10-10 22:41] PharaohKJ commented on #31
@matyuda さん、すみませんが、ITBP武蔵内に貼ったりおいたりする、宣伝A4チラシを作成したいです。
ウェブページの文面そのまま使う & テイストで、実施日がでかでかと乗っているものがいいと思います。

お願いできますか？ちょっと予算はこれから確認します。

[2019-10-10 23:12] yuuitiro commented on #17
slack DM でも返しましたが、ログイン確認できました。

[2019-10-11 03:21] PharaohKJ commented on #28
AWSさまに巻き取ってもらえました！

[code]

ということで

[code]

で用意していただきます。発注先は変わるかも。

[2019-10-11 03:28] PharaohKJ commented on #8
ノベルティのロゴ入りストラップをAWSさんが作成してくれることになったので、それをまずは事務所に納品させてほしいです。 > @aibax さん
送付先として御社ウェブページ記載のものをAWSさんにお伝えしてよいですか？

[2019-10-11 03:49] PharaohKJ commented on #8
↑OKいただいて通達済み

[2019-10-12 02:43] PharaohKJ commented on #24
アイパブリッシングさままで記載

[2019-10-12 06:07] PharaohKJ commented on #22
本日登録分まで掲載済み。掲載済みのものは黄色の背景色つけておきます。

[2019-10-12 06:08] PharaohKJ commented on #24
本日登録分まで掲載済み。掲載済みのものは黄色の背景色つけておきます。

[2019-10-12 06:10] PharaohKJ commented on #12
もうたぶんこれ以上でないんでいったんここでクローズ。ご協力ありがとうございました。

[2019-10-12 06:10] #12 closed, assigned to aibax

[2019-10-12 06:40] PharaohKJ commented on #25
@jaws-ug-kanazawa/communityday ↑ハンズオン部担当誰かして仕切ってほしいです。

[2019-10-12 06:42] PharaohKJ commented on #8
運用始まったんでクローズ

[2019-10-12 06:42] #8 closed, assigned to PharaohKJ

[2019-10-12 06:43] #30 closed, assigned to PharaohKJ

[2019-10-12 06:43] PharaohKJ commented on #27
借り先きまってロジスティクス部シート記入済み。

[2019-10-12 06:43] #27 closed, assigned to PharaohKJ

[2019-10-12 08:24] PharaohKJ commented on #6
まぁ表作ったんでOK

[2019-10-12 08:24] #6 closed, assigned to nobody

[2019-10-12 09:48] PharaohKJ commented on #1
現在、作成しました。非公開状態にしてあります。
UG金沢公式slack #general と 全国UG slack #community-day-2019 にスクショ・申込時質問など添付したのでレビューをお願いします。

[2019-10-13 02:16] PharaohKJ commented on #1
@jaws-ug-kanazawa/communityday

事前アンケートについてAWSさんから「こういう項目を事前に集めたい」と打診がありました。
( 公式slackの #community-day-2019 より )
詳細はUG金沢 slack #general に置きましたのでレビューお願いします。

加藤の見解としては、ドアキにこれが保存されちゃうから扱いが大事になるよね、ぐらいだろうのでOKかなと考えています。どうでしょ？

[2019-10-13 13:31] matyuda commented on #31
承知しました！
遅くとも１５日までにいったんたたきを作成します。

[2019-10-13 13:43] matyuda commented on #23
収録要件を下記に整理します。

@PharaohKJ さん
委託先への打診にあたり、問題となる点がありましたらご指摘ください。

目的
- 来場することが出来ない方にも楽しんでいただくため
- JAWSUG金沢の取組を配信形式で知っていただくことによって、来ていただく敷居を下げる（逆に上がってしまう？）
- 継続的に収録できるノウハウが習得できれば、ベター。

留意点
- 登壇者の方への許諾
- 来場者の方への許諾（NGの方が映り込むことを考慮すると、来場者の方が映らない方法をとることが望ましい）

収録形式
- トラックA、トラックBの2つを収録対象とする（できない場合には、初心者向けのトラックAのみ）
- 視聴者が内容を理解しやすいようにする為、スライドと登壇者の声を合わせた状態とする（できない場合には、登壇者とスライドが映った状態をビデオカメラで録画する）
- Youtube等への録

[2019-10-13 14:49] matyuda commented on #9
ご指摘ありがとうございます！
`- [ ]`に修正しておきました。

[2019-10-13 14:56] matyuda commented on #31
@PharaohKJ さん

作成してみましたので、レビューお願いします。
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%9D%E3%82%B9%E3%82%BF%E3%83%BC/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF/%E5%91%8A%E7%9F%A5%E3%83%9D%E3%82%B9%E3%82%BF%E3%83%BC.pdf
（印刷用PDFのため、大容量です）

#9 で検討していました「開始に間に合う時間と経路案内を載せる」は追加していません。（ITBP武蔵内に貼ったりおいたりする用途の為）
追加が必要！とのことでしたらお知らせください。

[2019-10-14 00:11] PharaohKJ commented on #31
レビューしました。なんとか現時点でのセッションリスト入らないかなあああ。とりあえず作ったエクセルは貼っておきます。

![スクリーンショット 2019-10-14 09 11 18](https://user-images.githubusercontent.com/1581985/66724585-970e1900-ee62-11e9-9272-10491835361f.png)

[session-list.xlsx](https://github.com/jaws-ug-kanazawa/aws-community-day/files/3722644/session-list.xlsx)

[2019-10-14 01:09] TAKAyukiatkwsk commented on #1
事前アンケート、問題ないかなと思います。

[2019-10-14 01:28] TAKAyukiatkwsk commented on #25
@PharaohKJ 到らないところあるかもですが、手が空いてるので担当しますー 🙋‍♂

[2019-10-14 01:32] PharaohKJ commented on #25
助かります。ありがとうございますー。とりあえず内容と人の手配手伝ってください。あーその前に当日誰が空いてそうか算段するところからですかね。ちょっとスケジュール決めます。

内容についてちょっと文章まとめてくれませんかね？wikiでもpaperでもお任せします。

2019年10月14日(月) 10:28 Takayuki Takagi <notifications@github.com>:

--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-10-14 01:59] TAKAyukiatkwsk commented on #25
いったん内容案について書きだしました。
https://paper.dropbox.com/doc/AWS-Community-Day--AmlInqrusLl8ooJVBJPYee3LAQ-aPcPdOpHKYLH5YVM9WRUk

[2019-10-14 07:55] PharaohKJ commented on #25
レビューしました。
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-10-14 08:07] PharaohKJ commented on #23
人手不足はなんとかできそうですか？結構キツそうです。どれだけの人員が要りそうか教えてください。
カメラ役ベタ付き必須なので会場にずっといないといけないですよねえ？2会場、午前・午後交代制として4人ですかね？

ちょっと人員希望表作らないといけないですね。これは準備始めます。

撮影OK、公開OK、他に何かお願いしないといけないこと、接続端子などなど、登壇者に電子メールでおうかがいしようと思いますのでその文章と質問項目の作文をお願いします。

上記文章で外部の会社に相談してみればよいですか？提案含めてうkがいますか。
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-10-14 08:35] PharaohKJ commented on #13
[人員希望&配置シート](https://docs.google.com/spreadsheets/d/1iHnHPjI5lwrue9aFlhEGsJgTQ8duKn-OTI4VvdSKBgM/edit?usp=sharing)

を作成しました。人手がほしい人はここに記入してください。

[2019-10-14 08:35] PharaohKJ commented on #13
↑ @jaws-ug-kanazawa/communityday

[2019-10-14 09:56] PharaohKJ opened #32 "アナウンス台本作成"

[2019-10-14 09:59] PharaohKJ commented on #29
- [ ]  受付マニュアル作成

[2019-10-14 22:35] matyuda commented on #31
レビューありがとうございます。
修正依頼事項反映しましたので、再度ご確認ください。
セッションリストの文字の太さが微妙ですので、気になるようでしたら太くしても良いかと思っています。

また、QRコードについては、私のアカウントを利用してbit.lyで短縮URLを取得していますので、もしアクセス計測を共有したいご要望がありましたら、QRコード差し替えします。

[2019-10-14 23:50] PharaohKJ commented on #17
@yuuitiro さん、今週末日曜日から1ヶ月前 & ドアキ公開予定ということで、私と手分けして毎日ツイート( & FB自動ポスト)していこうと思うのですが、ご都合いかがでしょうか？企画としては

- 登壇者情報を流す
- 準備の進捗をツイートする

といった感じかなあと。お互いかぶらないようにスプレッドシートあたりに計画と原稿書いていきます？

[2019-10-14 23:53] yuuitiro commented on #17
@PharaohKJ 了解です。どういうタイミングで始めたらとも思ってました。スプレッドシートもいいと思います。

僕の方は、23日に帰国なので（って書き方するとえらそーですね）、22日夜から23日一杯まではちょっと手が空きませんってところです。それ以外はOK。

[2019-10-15 00:17] PharaohKJ commented on #31
QRコードOKです。

レビューさらに反映しました。セッションリストの太さはたしかに細いですね。ちょっと
私の元スプレッドシートデータのせいで、イタリックになってたり、フォントがメイリオになってたり
でキツイんで調整いただければと思います。レビューしたのでお願いします。

細かくてすみません。乗せる内容はこれでいいと思うんで、AWSさんにもレビューしてもらいます。

<img width="548" alt="スクリーンショット 2019-10-15 09 13 51" src="https://user-images.githubusercontent.com/1581985/66790775-33e8b900-ef2c-11e9-9bae-b3ebc9d24fa1.png">

[2019-10-15 02:11] PharaohKJ commented on #31
セッションリストなおしました。
亀田さんの名前を漢字にした。同タイトルの `〜` 文字も修正（半角・全角が混在していた）
AWSさんのご社名の正規化。

[session-list.xlsx](https://github.com/jaws-ug-kanazawa/aws-community-day/files/3727119/session-list.xlsx)

[2019-10-15 14:09] matyuda commented on #31
@PharaohKJ さん

レビューありがとうございます。
修正依頼事項反映しましたので、再度ご確認ください。

[2019-10-15 14:55] PharaohKJ commented on #31
@matyuda さん
何度もごめんなさい「クラウドについてまる1日お話しましょう」の下の文章についてAWSさん側から差し替え依頼もあって、この文章に変えてください。

[code]

[2019-10-15 14:57] PharaohKJ commented on #31
あとは完璧！！！とりあえず今から差し替え前文章でコンビニ印刷してみてきます。セッションのところ、白抜き文字がでそうかどうか確認してきます。

[2019-10-15 15:05] PharaohKJ commented on #23
人員希望表は作りました。wikiを参照してください。
https://github.com/jaws-ug-kanazawa/aws-community-day/wiki#人員希望

外部の会社に今日・明日中に連絡とってみます。

[2019-10-15 16:12] PharaohKJ commented on #31
コンビニで印刷して確認してみました。バッチリですね！くっきり読めます。トンボとかも印刷しちゃってますが、確認にはまあいいかなと。

![IMG_2765](https://user-images.githubusercontent.com/1581985/66849518-faf32780-efb1-11e9-8044-e6aa773dd0fd.jpg)

[2019-10-15 17:05] PharaohKJ commented on #17
https://docs.google.com/spreadsheets/d/1wUiMIYxDEn0YbEdUZm5mHlXIA8VSXVLett_5Tp-hNHQ/edit?usp=sharing

シート作りました。ここでやっていきましょう。

[2019-10-15 17:26] PharaohKJ commented on #25
@TAKAyukiatkwsk

とりあえず企画は基本 https://jft2019.jaws-ug.jp/session/421/ を踏襲してこれでいきますよね？

ハンズオン会場に入った人に配るドキュメントを書いてほしいです。
 - 本企画説明ドキュメントへのURLとSSIDを白板にかいておく
 - 白板のSSIDを入力してハンズオンしてください
 - わからなかったらSTAFFまで
 - 本ハンズオンに参加された方にはクーポンをお配りしますので、フォームにドアキに登録したメールアドレスを書いて送ってください

これぐらいかなあ？あと人のアサインについてはwikiに書いたのでそれで進めてほしいです。

[2019-10-15 17:26] PharaohKJ commented on #13
↑ @jaws-ug-kanazawa/communityday 当日ここ俺やるよ！ってのは名前記入してください。

[2019-10-15 21:54] matyuda commented on #31
コンビニでの出力確認いただきありがとうございました。
私が自宅でインクジェットプリンタで確認用に出力したよりも鮮明に出力されています！
さすがトナープリンタですね。

文書差し替えしました。

トンボですが、A4フチなしで原寸出力することが出来れば、表示されないと思います。
（トンボはフチなしで印刷できない環境の為にB4等で印刷の上、断裁できるように設けてあります）
プリンタの設定によって　フチなし印刷ができる　かつ　A4原寸出力ができない　場合には、トンボなしでPDF生成します。

[2019-10-15 21:59] yuuitiro commented on #17
了解ですー！

23日の13:00分ですけど、この時間はちょっと難しくて加藤さんにお願いする感じでもいいでしょうか？
ちょうど出国手続きしているところかな。。

[2019-10-16 00:10] PharaohKJ commented on #17
Buffer は投稿時間を指定して予約投稿できますぞ！
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-10-16 00:17] PharaohKJ commented on #31
ありがとうございます。コンビニのプリンタで出力してるのでそれようにトンボなしも欲しいです。(ごめんなさい、その設定ができるかどうかがわからない！)

2019年10月16日(水) 6:54 Yasuhiro Matsuda <notifications@github.com>:

--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-10-16 02:48] PharaohKJ commented on #28
ストラップカラーは

一般 ネイビー
撮影NG ホワイト

に変更になりました。ストラップにロゴを印刷いただけるらしく、印刷するとオレンジ部分が抜け落ちちゃうため、です。

[2019-10-16 06:40] PharaohKJ commented on #23
@matyuda さん
外部の会社さんと打ち合わせの段取りしています。

- 10/17 明日
- 10/18 明後日
- 10/20 日曜15時以降で先方事務所

のどこかで打ち合わせできるとのことです。10/20は私ちょっと対応できなくて & @matyuda さんとしては平日は夜以外キツイと思いますのでおまかせします。

平日夜、テレカンで、が一番現実的なあたりかな・・・先方が対応してくれればのはなしですけど。

↑のスケジュールのどこで & どんな方式にしましょうか？お返事ください。先方とつなげます。

[2019-10-16 10:23] TAKAyukiatkwsk commented on #25
@PharaohKJ

はい、このイメージでした！

了解です

[2019-10-16 11:04] TAKAyukiatkwsk commented on #25
ハンズオン参加者向けのドキュメントを作成してます(リンク設定は途中です)

https://paper.dropbox.com/doc/AWS-Community-Day-Kanazawa--AmwJ82DsA4QPCpez6G79iEe1AQ-kTzas3Ik1hmpUeQ6jRvCw

[2019-10-16 11:18] TAKAyukiatkwsk commented on #13
ハンズオンに関して人員希望を記入しました。参加者へのサポート3人としましたがどう思いますか？

[2019-10-16 11:19] TAKAyukiatkwsk commented on #25
クーポン配付用のフォームってお問い合わせのやつ使いますか？専用のやつ用意しますか？

[2019-10-16 15:32] PharaohKJ commented on #16
インテックさまが5人ほど運営協力していただけるとのことで、その分のTシャツもお願いしたいです。
予算などみてになると思いますが、忘れないようにメモ。

[2019-10-16 16:05] PharaohKJ commented on #25
クーポンって1人1つずつユニークなのが発行される、、、って勝手に思ってたんですけど、それ次第ですかね？

確かにこの方は参加された方だ！って証拠は大事そうだし、1メールアドレス1ユニーククーポン番号だと、手動で送るのは大変なので、なんとかリストで得られる方法がいいかなあと考えてます。

ちょっとクーポンの仕様、AWSさんに確認します。それから方法考えましょう。

[2019-10-16 16:13] PharaohKJ commented on #13
ハンズオン参加者の人数によってはいるかもね・・・。AWSのかた1+スタッフ1で、2人が最低かな？

ドアキの最初のアンケートで「ハンズオン参加を希望されますか？」を追加して人数予想がつくようにしておきます。

いったん3にしておきましょう。

[2019-10-16 18:51] PharaohKJ commented on #22
インテックさままで掲載

[2019-10-16 19:22] PharaohKJ commented on #1
事前アンケート追加しました。10/17中にレビューしてください。10/18公開予定です。
詳細はslackにはりました。

@jaws-ug-kanazawa/communityday

[2019-10-16 21:22] matyuda commented on #23
@PharaohKJ さん

お返事遅くなりすみません。
登壇者への電子メールのおうかがい文章と質問項目の作文しておきます。
カメラ役と「司会進行 & アナウンス & 登壇者サポート」を兼ねられれば良いのですが、難しそうでしょうか？（設置場所による？）

外部の会社さんとの打ち合わせについてですが、
10/17, 18は申し訳ありませんが、私の都合がつきません。

10/20でしたら、18時ごろお伺いできると思います。
10/21の週の平日の場合、19時であれば大丈夫です。
10/22の祝日がご対応いただけるようであれば、何時でも大丈夫です。

[2019-10-16 21:38] matyuda commented on #31
@PharaohKJ さん

遅くなりましたが、A4ジャストサイズのPDFもpushしておきました。
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%9D%E3%82%B9%E3%82%BF%E3%83%BC/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF/%E5%91%8A%E7%9F%A5%E3%83%9D%E3%82%B9%E3%82%BF%E3%83%BC_%E3%83%88%E3%83%B3%E3%83%9C%E3%81%AA%E3%81%97.pdf

[2019-10-16 21:44] matyuda commented on #25
@PharaohKJ さん
ハンズオン会場の無線LANのアクセスポイントのSSIDですが、６階で参加されているから接続されないようにITプラザ武蔵のSSIDと別にしますか？

２台のアクセスポイントを利用するとなった場合、中継器モードで利用する（メーカが同じでないと接続できない？）か、長い有線LANケーブルを這わす必要がありそうですね。
（先日確認漏れていましたが）壁に接続可能なLANポートは１つだけでしょうか？ご存知でしたら教えてください。

[2019-10-17 01:26] PharaohKJ commented on #31
ありがとうございます！！！コンビニプリントしてITBP武蔵に貼ってきます。
遅いことは絶対ないです。ありがとう。

[2019-10-17 01:26] #31 closed, assigned to matyuda

[2019-10-17 01:37] PharaohKJ commented on #25
@matyuda さん
ITBP武蔵のSSIDとは別にしましょう。

別に中継機モードで利用する必要はありません。OSが（デバイスドライバが）都合のいいやつを使います。
WiFi ローミング あたりのキーワードでgoogleしてみてください。
私と @matyuda さんのルーターの

- SSIDとパスワードを全く同じにする
- 干渉しないチャンネルにする ( 私の使ってるルータはチャンネル自動選択機能あり )

ことのみでOKです。

壁に接続可能なLANポートは1つだけでした。

[2019-10-17 01:52] PharaohKJ commented on #23
私の経験上とてもむずかしいと思います。おっしゃるとおり、設置場所にもよると思いますが、録画サポートも含めて、人数を2とするならギリギリいけるかな、、、と思います。

10/20以降は1週間出張して国外出張で時差もありまして、テレカンでも対応できないので @matyuda さんと先方で話進めてください。スケジュール送っておきます。

[2019-10-17 02:30] PharaohKJ commented on #23
Facebookメッセンジャで3人会議設定しました。そこで調整お願いしまーす。

[2019-10-17 02:42] PharaohKJ commented on #25
@TAKAyukiatkwsk さん
ハンズオンのやる内容についてですが、今回は **AWSが共催** (not UGオンリー)となるため、ちょっとアジェンダ修正させてほしい、とのことでした。連絡いただけ次第、paperに書いておきます。

クーポンコードについては1人1人バラバラのコードで提供されるそうです。
送付元はUG金沢のgmailアカウント ( jawsug.kanazawa@gmail.com ) が使えると思います。
ドアキから指定して送ることもできたかな、、、。

とりあえずドアキのチケットコードをなんとかして集めておけばなんとかなりそうです。
集め方はおまかせします。
（参加者データエクスポートしてパースしてメール送るツール作ることになりそうだけど、少なかったら手伝いますので手動でがんばりましょう）

[2019-10-17 02:45] PharaohKJ opened #33 "ハンズオン無線LAN貸し出し部"
#25 より派生。

- ITBP武蔵のSSIDとは別にする
- SSIDとパスワードを全く同じにする
- 干渉しないチャンネルにする ( 私の使ってるルータはチャンネル自動選択機能あり )

これSSIDとパスワード決めてルータに設定したらクローズ。

とりあえず SSID は handson 、パスワードは kanazawa2019 あたりにしておきましょうか？

[2019-10-17 02:46] PharaohKJ commented on #25
無線LAN貸し出し部として担当外しました。

[2019-10-18 06:37] matyuda commented on #33
承知しました。

私の無線LANのアクセスポイントもチャネル自動選択機能があります。

中継器モードを利用しない＆情報コンセントが1つとのことですので、PharaohKJさんのアクセスポイントにハブがついているようでしたらイーサケーブルでアクセスポイント通しを繋ぐ方法とさせてください。

イーサネットケーブルは5メートルくらいしかないので、長いケーブルを調達する必要がありますね。

[2019-10-18 06:59] PharaohKJ commented on #33
あの部屋をカバーするぐらいだから特に伸ばさなくても大丈夫だと思いますよ！

私のルータはハブ機能もあるんでそこにつなげましょう。

[2019-10-18 07:03] PharaohKJ commented on #25
@TAKAyukiatkwsk さん
AWSさんがわから、このメニューでお願いしますと連絡いただきました。

[code]

paperのほうも編集しておきます。

[2019-10-18 07:47] PharaohKJ commented on #7
現状のオファーで、ランチセッションとアサイクルさまのところは調整中ですが、これでいったんいこうと思います。

レビューお願いします。

![スクリーンショット 2019-10-18 16 46 22](https://user-images.githubusercontent.com/1581985/67075867-ffdcf480-f1c6-11e9-8907-8f5d1cfc2fac.png)

[2019-10-18 13:19] TAKAyukiatkwsk commented on #25
@PharaohKJ 編集ありがとうございます！paperでメニューにGitHubへのリンクを設定しました。それぞれ正しいか確認お願いしたいです。

[2019-10-18 22:56] PharaohKJ commented on #25
確認しました。間違いありませんでした。

[2019-10-18 23:35] PharaohKJ opened #34 "SNSハッシュタグ"
SNS のハッシュタグを確認したい。

#jawsug ← UGのハッシュタグ
#awscommunityday ← twitterで検索してみたら世界的にはこれが使われてるみたい

この2つでいいかな？

↑ @jaws-ug-kanazawa/communityday

[2019-10-18 23:47] PharaohKJ commented on #16
Tシャツ、ラフ第一校いただきましたが、リテイクをお願いしました。

詳しくては ↑ のpaperのリンク先を参照してください。第二校は来週中(〜10/25)を予定。

[2019-10-18 23:48] PharaohKJ commented on #19
会場の担当宮本さんと話したのですが、エレベーター内の張り紙は会場NGになってしまいました。

[2019-10-18 23:51] PharaohKJ commented on #17
#34 が決まり次第、含めてポストしていくこと。

[2019-10-18 23:55] PharaohKJ commented on #25
Wiki にリンクはっておきました。

  - [企画書・当日タスク](https://paper.dropbox.com/doc/AWS-Community-Day--Am6kUktG5_bOpNJaLYxt8ofBAg-aPcPdOpHKYLH5YVM9WRUk)
  - [当日使用ドキュメント](https://paper.dropbox.com/doc/AWS-Community-Day-Kanazawa--Am5_O_kgSFkHiyurQiIiWVRQAQ-kTzas3Ik1hmpUeQ6jRvCw)

[2019-10-19 00:08] PharaohKJ commented on #22
@aibax さん 植木さんに登壇スポンサーとして御社ロゴも掲載できるのでよろしければ送ってくださいの旨お伝えください。URLは http://bit.ly/comday2019sponsorlogoform
岡本さんらにもお願いします。 @aibax さん自身のもお願いします。
esm勢にはさきほどメールしておきました。

[2019-10-19 00:10] PharaohKJ commented on #23
日曜日、会社と @matyuda さんが直接お会いして企画説明 & 見積もりいただくことにした。

[2019-10-19 01:44] PharaohKJ commented on #7
@jaws-ug-kanazawa/communityday

ハンズオン部屋、開場をランチセッションあとの13:30〜にしようと思います。

AWS亀田さんの食事する時間を確保したい by 私
開始には亀田さんがいたほうがよくない？と、亀田さんからご提案がありました。

どうでしょ？ 特に問題なければそうしようと思います。

[2019-10-20 22:14] yuuitiro commented on #17
一日 delay してしまいました 😓

[code]

2019/10/21 13:00 で tweet を予約

[2019-10-20 22:15] yuuitiro commented on #17
一回様子みて次を予約します。

[2019-10-21 00:52] PharaohKJ commented on #17
@yuuitiro さん
タイムテーブルまだ（仮）ありますが、作成しました旨、明日ぐらい(2019-10-22)に宣伝してほしいです！

[2019-10-21 01:07] yuuitiro commented on #17
@PharaohKJ 10/22 13:30 に予約しました。

[code]

タイムゾーンがBSTだったのにちょっと焦りましたが :)

[2019-10-21 23:31] PharaohKJ commented on #22
esmさまのロゴ掲載

[2019-10-21 23:34] PharaohKJ commented on #23
@matyuda さん、↑どうでした？

[2019-10-22 02:22] PharaohKJ commented on #19
wiki の会場レイアウトより再度まとめました

それぞれ必要数 + 予備1部を印刷してほしいです

- ゴミ箱案内
  - もえるごみ
  - ペットボトル
  - 缶
- 6F 会場A & B へ、案内(5F階段前に貼る)
- 5F ハンズオン会場へ(6F階段前に貼る)
- A4縦2枚連結ポスター (1階入り口エレベーター前に展示)
- スタンドポスター (AWSさまで2つ用意いただける)
  - 6F受付に1つ設置
  - 5Fエレベーターでて通路突き当り設置
- A4 会場A 内容案内 (会場A入り口に掲示)
- A4 会場B 内容案内 (会場B入り口 & 5Fの旧喫煙書あたりに掲示)
- A4 ハンズオン会場 内容案内(ハンズオン会場入口に展示、受付は6Fという内容も書いてほしい)

[2019-10-22 22:32] PharaohKJ commented on #34
日本かえったらチケットページなどに記載して終了予定

[2019-10-22 23:06] PharaohKJ commented on #34
チケットページホテルからならアクセスできた。wikiにも転記したしクローズ

[2019-10-22 23:06] #34 closed, assigned to nobody

[2019-10-23 11:29] matyuda commented on #23
@PharaohKJ さん

ご連絡遅くなりました。
打ち合わせ結果は下記の通りです。

xSplitを見せて頂いた感じでは、OBS Studioと同等のソフトウエア？と考えられますので、後述の案２を採用する場合においては、代用は可能と思います。

まずは、５万円の費用捻出が可能かどうか、２トラックの収録をするかどうか（１トラックのみに限定するかどうか）を判断する必要があります。

なお、取りうる選択肢が限られていたため、松竹梅のプランは用意できませんでした。

**収録方式について**

下記２案が検討できるが、登壇者が自分のPCを利用できない場合に不便を強いる可能性があることから原則案１となった。また、Youtube等へのリアルタイム配信を前提とする。
（録画した場合、ディスクIOの遅さが足を引っ張る可能性とディスク容量不足になる可能性を懸念）

案１）登壇者のHDMI出力を分岐して、

[2019-10-23 12:15] PharaohKJ commented on #23
@matyuda さんありがとうございます。

ちょっといま外出てるので取り急ぎで恐縮なんですが、会場AはアナログRGB接続のみとなっています(いっしょに見学しましたっけ？資料参照のこと:wiki
ni aru )。大丈夫ですかね？
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-10-23 13:07] matyuda commented on #23
アナログRGB接続は先方へも伝えました。
HDMI→RGBへの変換は２案どちらの方式でも必要　＆　先方も所有無し
とのことなので、調達が必要です。

下記３点について教えてください。
１．トラックB（ホール２）のプロジェクターは
#27 でお借りできるとのことですが、こちらはHDMI端子ついていますでしょうか？

２．トラックBのマイク＆スピーカーは
https://www.bp-musashi.jp/rental/machine.html
の音声入出力機器　を借りることになりますか？

３．よく分かっていませんが、
https://www.bp-musashi.jp/rental/images/6f_01.pdf
に記載のある
有線マイク（受付貸出）
マイクスピーカー
はホール１の映像・音響調整卓につながっているのでしょうか？？

[2019-10-24 00:13] PharaohKJ commented on #23
HDMI > RGB は結構相性でるらしくて、注意してください、とのことです。

https://www.amazon.co.jp/サンワサプライ-HDMI-VGA変換アダプタ-HDMI-Aメス-VGAメス-AD-HD13VGA/dp/B00ID1S2U8/ref=sr_1_6?__mk_ja_JP=カタカナ&keywords=HDMI+メス+RGB+メス&qid=1571875982&sr=8-6

これでいいのかな？

はい。paperのほうにも書いておきます。

↑のページにマイクとスピーカーの情報について書いてありませんね、、、。
ケーブルありのカラオケセットのようなマイクとスピーカーを借りる予定です。
（これは部屋の料金で借りられたはず）

いいえ、つながっていません。↑のとおり、トラックBはカラオケセットのようなやつです。
トラックAの映像音声調整卓からは、配線次第でトラックA

[2019-10-24 00:18] PharaohKJ commented on #16
ラフ第二稿いただいて、AWSさんのレビューをいただき、反映中です。

@aibax さんが印刷の方法の検討と見積もりお願い中。

決まり次第、背面のデザインの本稿に進む。

[2019-10-24 00:27] PharaohKJ commented on #23
案1に関してですが、これまで同じことをトライした経験からいうと、HDMI出力にコピープロテクション信号がある場合、表示されないということがありました。

ゲームならプレイステーションとかで機種が限られますが、パソコンとなるといろいろ難しいようです。

だいたい方向性はわかりましたので、実際のITBP武蔵でぶっつけ本番というわけにはいかないでしょうので、テストする段取りなど決めていってください。

トラックB用の収録機材は最悪スマホでなんとかなると思います。ビデオカメラどこかから調達できますかね？金払えば借りられるようですが、、、借りちゃう？(この機種で問題ないのかはすみませんちょっとわかりません)

[2019-10-24 13:10] PharaohKJ commented on #23
某社の幹部とお話してHDMIアナログ変換やキャプチャデバイスをお借りすることができることになりました。

[2019-10-25 12:34] TAKAyukiatkwsk commented on #25
@PharaohKJ さん、当日会場準備マニュアル追記しました。
参加者用ドキュメントとクーポン配布受付フォーム、それぞれbitlyしてあります。

ドキュメント: http://bit.ly/awscd-kz-handson
フォーム: http://bit.ly/awscd-kz-handson-form

[2019-10-25 15:00] PharaohKJ commented on #25
神対応、あざっす。paperのほうにコメント書いておきました、対応していただけたらそれでOKかと思います！

[2019-10-26 14:53] PharaohKJ commented on #23
10/31 テレカン予定

[2019-10-26 15:00] PharaohKJ commented on #17
@yuuitiro さん
27日からのネタ一応書いておきました。新幹線復帰ネタどっかで入れます。

[2019-10-27 22:16] PharaohKJ commented on #29
@osamu-036 さん
ここの wiki でも Google Docs でも Dropbox paper でもなんでもいいんで、当日みんなでスマホでみられる形で、ドアキでバーコード読むところ含めて受付マニュアルを作成してほしいです。

受付マニュアルは当日お手伝いいただくスタッフ（富山からいらっしゃる予定）によんでいただくためのもので、箇条書きで大丈夫かと思います。

その内容で人数なども決めていきたいと思います。よろしくおねがいします。
（いまのところ、10:00〜10：30は登壇スポンサー受付 3 & 一般受付 3 で 6、それいがいは1人ぐらいかなーと思っています。）

[2019-10-27 22:19] PharaohKJ commented on #24
あさいくるさんまで対応

[2019-10-27 22:21] #1 closed, assigned to PharaohKJ

[2019-10-27 22:50] osamu-036 commented on #29
@PharaohKJ さん
了解です。週末までには、書いてみます。

[2019-10-28 04:55] PharaohKJ commented on #22
本日登録分掲載

[2019-10-29 05:24] aibax commented on #24
@PharaohKJ
トラックB 11:30-12:20 の館岡さんのセッション、予定していたタイトルで確定しました。
Webサイトのタイムテーブルから（仮）の表記を削除してください。

[2019-10-29 05:25] aibax commented on #24
@PharaohKJ
トラックB 14:30-15:20 の枠で館岡さんにセキュリティについて話していただけることになりました。
セッションタイトルは「これだけは抑えておきたい！AWSにおけるセキュリティ」

[2019-10-29 05:27] aibax commented on #16
このラフデザインで見積り中
![ラフデザイン](https://user-images.githubusercontent.com/4516376/67740152-2ff28600-fa58-11e9-852a-5d2b3b935524.jpg)

[2019-10-29 21:49] PharaohKJ commented on #24
done
全部うまった！

みなさんありがとうございました！

[2019-10-29 21:49] #24 closed, assigned to PharaohKJ

[2019-10-29 21:59] PharaohKJ commented on #16
淡い色じゃないとフルカラーは見えなくなっちまう
ってことで、

https://tomsj.com/product/00083-BBT/

の色と、ぺーたさんのデザインの組み合わせのおすすめを2色、選んでもらうことにした。

文字色などは現在白なので、淡い色では色を変更しないとまずい、それはしていいのか？とぺーたさん側から質問あった。

とりあえず

- フルカラー版のロゴ文字色など変更OKとして淡い色版 > スタッフカラー・登壇者カラー
- 2色刷り版濃い色版 > スタッフカラー・登壇者カラー

の4枚を2019-10-30中に提示してもらうことになった。

[2019-10-29 22:00] PharaohKJ commented on #16
https://paper.dropbox.com/doc/T--AnnRluRFC5nCQOvbbbgTBfwIAQ-KLhM0qoZyvtar3cPXmXsj

上記追記

[2019-10-30 05:59] PharaohKJ commented on #22
@matyuda さん、AIファイルの編集ってできます？お手伝いいただきたいことがあるのですがお願いできますでしょうか。

[2019-10-30 07:00] #7 closed, assigned to PharaohKJ

[2019-10-31 07:18] PharaohKJ commented on #23
@matyuda さん
登壇者に案内する収録していいですか？公開していいですか？の質問の文面をGoogle Formで作成してください。登壇者に電子メールで案内します。

スライドの公開可能・不可能、不可能な部分がある、などについて、登壇時最初にご案内いただけますようお願いいたします。

- スライドファイル後日公開しますか？
  - はい / いいえ
- 登壇内容参加者によるSNS拡散
  - 可 / 指示するところで一部否 / 否
- スライドの写真参加者によるSNS拡散
  - 可 / 指示するところで一部否 / 否

- 運営によるライブ配信
  - 可 / 否 / リアルタイム配信のみ可(録画を配信ことは否)
- 運営による録画とその録画をYoutubeなどで一般公開
  - 可 / 否

これぐらいかな？

[2019-10-31 10:16] matyuda commented on #23
@PharaohKJ さん
承知しました。
Google Formでのアンケートフォーム作成が出来次第報告します。

[2019-10-31 10:23] matyuda commented on #23
下記調整して報告要。
- [ ] URLの案内方法
- [ ] 視聴予定人数の整理

但し、当日来る予定の方が、オンラインに流れないように工夫する仕組みあり。

[2019-10-31 10:34] matyuda commented on #23
スライドテンプレートについてもアンケートともに案内要。
スライド内に写真撮影OK/NGを入れて頂くなどの案内も必要。
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E7%B4%A0%E6%9D%90%E3%83%86%E3%83%B3%E3%83%97%E3%83%AC%E3%83%BC%E3%83%88/%E7%99%BB%E5%A3%87%E8%80%85%E3%82%B9%E3%83%A9%E3%82%A4%E3%83%89.pptx

[2019-10-31 13:29] PharaohKJ commented on #16
@aibax さん、納品ファイルの詳細仕様を教えてくださいと、連絡がありました。教えて下さい。お願いします。

[2019-10-31 13:32] matyuda commented on #23
３名で打ち合わせ

機器配線図を共有
https://drive.google.com/file/d/1JAg6vZSw01NgAgEAjxB8U21AI5TzadWn/view?usp=sharing

トラックA, トラックBをYoutubeでライブ配信する。
帯域不足があればBトラックは録画に切り替える。
配信用アカウントについては別途 @PharaohKJ  さんにてご確認いただく。

トランザムさんにて予算８万円内で手配（最大スタッフ３人）。

機材のレンタルについては、明日以降 @PharaohKJ さんよりお願いして頂く。
↓
レンタル日が決まり次第、トランザムさんへ持ち込んでテスト

後日、ITプラザ武蔵での接続テスト（HDMI→RGB接続、ライブ配信の帯域確認）を行う

@matyuda  にて配信用の企画書を用意する。

別途、登壇者席と配信用スペースを用意する　→ #

[2019-10-31 13:33] matyuda commented on #13
下記お願いします
- [ ] 登壇者席と配信用スペースを用意

[2019-10-31 15:12] matyuda commented on #9
@PharaohKJ さん
パンフレットの外面についてたたきを作成しましたので、気になる点ありましたら指摘ください。
企業ロゴの配置などについても順番等ご指摘ください。
問題なければ、ロゴの大きさ等そろえるようにしていきたいと思います。
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%91%E3%83%B3%E3%83%95%E3%83%AC%E3%83%83%E3%83%88/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF/%E5%A4%96%E9%9D%A2.pdf

[2019-10-31 15:31] matyuda commented on #23
@PharaohKJ さん

アンケートフォーム作成しました。レビューください。
なお、ライブ配信の質問についての
リアルタイム配信のみ可(録画を配信ことは否)
の回答項目は、削除させていただきました。
（運営による録画とその録画をYoutubeなどで一般公開　の質問と重複しているため）

https://forms.gle/uUZuEMywyf9wAy498

[2019-10-31 20:33] PharaohKJ commented on #23
カッコ書き、いらないと思います。ていうかこんなメリットがあるなんて想像もしませんでした！マジ？

[code]

は

- OK
- 部分的にNG（不特定多数への情報発信がの内容の説明が含まれる）
- NG

としたほうがわかりやすそう

申し訳ありませんが一部(いちぶ) という表現より「部分的」という表現に改めたほうがいいかもですね。

[code]

は

運営スタッフによるYoutubeでの録画配信はしても構いませんか？

でいかがでしょうか。「ならびに」があると、前と後で質問が2つあってそれに対してOK/NGとなると返事が難しいかなあと考えました。あとYoutube以外は考えていませんよね？なんかのコンテンツに使うことあるか・・・まぁなど付けておくの安定ですかねえ。

[2019-10-31 20:54] PharaohKJ commented on #9
なんか文字がヘンなのはいまは気にしなくてよい？

AWSさんとJAWS-UG金沢以外は全部うえに並べて、会社名アイウエオ順（現状のウェブページ順）でよいと思います。

[2019-10-31 23:31] matyuda commented on #23
@PharaohKJ さん
ご指摘いただきありがとうございます。
本日中に修正しておきます。

なお、
撮影する必要がありませんとお伝えいただくことで、参加者に集中して聴いていただけます
については、「撮影する必要がありません」とすると撮影する人が減って、シャッター音がしなくなるというロジックです。他のイベントでもシャッター音問題がよく言われていますので、効果はあると思います。

[2019-11-01 11:11] matyuda commented on #23
@PharaohKJ さん
修正完了しました。内容問題なければ、登壇予定の方へメールにてご案内お願いいたします。

[2019-11-01 11:14] matyuda commented on #9
@PharaohKJ さん

ご指摘ありがとうございます。
Sponsor と 登壇スポンサー の文字が隠れてしまっている部分ですね。
ロゴの順番をウェブページ順に変更しておきます。

[2019-11-01 11:56] aibax commented on #16
サイズとラフデザインについての質問の回答

Q. 添付画像の要修正箇所があれば教えてください。
A. 修正箇所は特にはないのですが、手書き風のイラスト？のため柄のかすれている
部分が潰れる可能性があります。
なお、柄のサイズですが、左右330mm 天地380mm以内でお願いします。

入稿データの仕様について確認中です。
おそらく紙と同じで良いと思うので、アウトライン化してCMYKにしたAIファイルで行けると思います。
↑ここ回答があったらお知らせします。

[2019-11-01 12:03] PharaohKJ commented on #16
いったん 330mm x 380mm のアウトライン CMYK AI ファイル 2値画像 でお願いしておきます！

[2019-11-01 12:20] PharaohKJ commented on #16
どこか、明確にされているウェブページとかないのですか？今日納期でちょっとそれは困る、、、という話しになってしまいました。

すみませんが、納品はちょっとまってもらって、画像納品先から指定が確定したら再度連絡するということになりました。

[2019-11-01 12:40] PharaohKJ commented on #16
https://forms.gle/ZKd4CBr3AMBCVUH18

[2019-11-02 00:06] PharaohKJ commented on #16
@jaws-ug-kanazawa/communityday ↑から来週火曜までにサイズ連絡ください。

[2019-11-02 00:07] PharaohKJ commented on #16
@aibax さん、回答シートは以下です。

https://docs.google.com/spreadsheets/d/1hSksqTIWz3XbIUhkyUZgb48nZkHr4g8jI-lMwLIhibw/edit?usp=sharing

[2019-11-02 00:11] PharaohKJ commented on #22
編集済み。とりあえずこれ以上は増えない予定なので、クローズします。みなさんありがとうございました！

[2019-11-02 00:11] #22 closed, assigned to PharaohKJ

[2019-11-02 01:25] PharaohKJ commented on #17
@yuuitiro さん
今日(2019-11-02)〜2019-11-05まで紹介文で仕込んでおきました & タイムゾーン設定をTokyoにしておきました。

[2019-11-02 02:24] PharaohKJ commented on #23
Tシャツのサイズ確認とともにメールしました。

[2019-11-04 13:33] matyuda commented on #23
@PharaohKJ さん

遅くなりましたが、企画書作成してみました。
ご意見をお願いいたします。
https://paper.dropbox.com/doc/AWS-Community-Day--An_4jaST6b3fy_fI0juYD_Y7AQ-0Zb9xS9UDTQeCv8bfNTHq

[2019-11-04 15:16] matyuda commented on #9
@PharaohKJ さん

パンフレット外面、中面ともに作成しましたので、ご確認ください。
問題なければ、登壇者の方へのご確認並びに沼口さんにレビューいただきたいと考えています。

[2019-11-04 20:27] PharaohKJ commented on #9
@jaws-ug-kanazawa/communityday 各位もレビューお願いします。

[2019-11-04 21:10] PharaohKJ commented on #9
![スクリーンショット 2019-11-05 06 08 52](https://user-images.githubusercontent.com/1581985/68158375-d677e300-ff92-11e9-96fd-96b784911b77.png)
![スクリーンショット 2019-11-05 05 53 42](https://user-images.githubusercontent.com/1581985/68158376-d677e300-ff92-11e9-896a-a9329fea1e99.png)

レビューしました。名前など確認しましたが、大丈夫そう。

[2019-11-04 21:11] PharaohKJ commented on #9
あ、ごめんなさい、アイパブリッシングさんのところに金沢市の方の名前追加になります。

[2019-11-04 21:27] PharaohKJ commented on #9
ウェブペイジのほうは更新しました。正式登録がされてないのでお願いしておきました。

[2019-11-04 21:47] PharaohKJ commented on #23
@matyuda さん
レビューしました。編集権限くれれば私のほうでも書いたのですが、なかったのでツッコミにしておきました！

今晩、AWSさんに説明しましょう。

[2019-11-04 21:48] PharaohKJ commented on #14
@higachan0406 さん
いまのところ20弱なので、いったん25でどこか仮予約してもらえますか？
予算は5000円程度としてありますが、6,000円ぐらいまではいっても許されるかなあ・・・。

[2019-11-04 22:18] PharaohKJ commented on #23
https://www.youtube.com/channel/UCkcXqRZEm1TEaJP0chkZlKQ

チャンネル作った。共同配信とかできんのか、、、。

[2019-11-04 22:21] PharaohKJ commented on #23
![スクリーンショット 2019-11-05 07 20 24](https://user-images.githubusercontent.com/1581985/68163014-ccf37880-ff9c-11e9-9e15-c467e2682103.png)
![スクリーンショット 2019-11-05 07 20 34](https://user-images.githubusercontent.com/1581985/68163015-ccf37880-ff9c-11e9-96e1-f87838814e21.png)

Youtubeのチャンネルの権限の追加でトランザムさん追加して管理してもらおうと思います。
配信終了したら権限を消すことでコントロールできるかと。

[2019-11-05 02:40] PharaohKJ commented on #16
見積もり

## 現行予算
デザイン ¥10,000
シャツ代 ¥37,500

## 版代
6,500円 x 2色 x シャツ2色 = 26,000円

## 印刷代
@1,200円 x 40
or
@840円 x 51

## シャツ本体代金
@650円 x 40
or
@650円 x 51

## 合計
26,000 + ( 1,200 + 650 )x 40 = 100,000
26,000 + ( 840 + 650 ) x 51   = 101,990

Tシャツを1色なくせば13,000円版代を浮かせられるが。

[2019-11-05 11:34] matyuda commented on #23
@PharaohKJ さん
コメントいただいた内容を企画書へ反映しておきました。

[2019-11-05 11:37] matyuda commented on #19
@PharaohKJ さん

スタンドポスター はどのようなイメージでしょうか？
他のポスターもデザインを合わせた方が統一感が出るかと思っています。

A4 会場A 内容案内 (会場A入り口に掲示)　は下記のようなイメージで良いでしょうか？
セッション情報は更新しておきます。
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%9D%E3%82%B9%E3%82%BF%E3%83%BC/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF/%E3%83%88%E3%83%A9%E3%83%83%E3%82%AFA.pdf

[2019-11-05 11:41] matyuda commented on #9
@PharaohKJ さん
ご指摘ありがとうございます。本日のミーティング終了後に反映しておきます、

なお、外面の右側のご指摘ですが、10:00～会場　のところに赤丸の囲みがありますが、どのような修正を入れればよいでしょうか？

[2019-11-05 12:46] yuuitiro commented on #33
通りすがりますけど、このモデルが弊社にごろっと（3台ほど）落ちてますが貸出できます。

https://www.buffalo.jp/product/detail/wapm-apg300n.html

[2019-11-05 12:54] PharaohKJ commented on #9
お、ごめんなさい、その文章のブロックをもうちょい上にあげて、マージンそろえてはどうか、という意味でした。

[2019-11-05 13:05] matyuda commented on #17
@PharaohKJ さん
ご当地お菓子で皆さんのご来場をお待ちしております！
https://drive.google.com/open?id=1O9hLwCRtnH8oig6sacs3voDZ0eTr9_ob
で紹介文仕込んでください。

[2019-11-05 13:09] PharaohKJ commented on #19
@matyuda さん
スタンドポスターについては以下を参照してください
https://drive.google.com/open?id=1TnvBJb6ud1KGyBMQgeIGBbGyFeVpYo3d

案内はそのようなイメージで最高です！
手間なら画像いらないかも、画像よりスポンサーロゴのほうが喜ばれるかも。
いろいろ考えちゃいますが、部屋の名前と演題がわかればOKです！

[2019-11-05 13:11] PharaohKJ commented on #23
@matyuda さん
私のコメント完了しておきました。

[2019-11-05 13:13] aibax commented on #16
@PharaohKJ ベースシャツの資料です。事前の情報と厚さがちょっと違うかも。この中から色の選択お願いします。
[Tシャツ資料.pdf](https://github.com/jaws-ug-kanazawa/aws-community-day/files/3809086/T.pdf)

[2019-11-05 13:26] PharaohKJ commented on #16
この資料だとサイズもXXXLがあるんですけど、注文できるんですか？マジ変更したいんですけど。

色は

109 デニム
031 ネイビー

の2色でお願いします。登壇者が後者がいいかな？

[2019-11-05 13:39] higachan0406 commented on #14
11/6、明日からカニ解禁みたいです。
明日以降、ホームページで香箱蟹をコンテンツに載せるお店が出てくると思います。

[2019-11-05 15:16] matyuda commented on #9
@jaws-ug-kanazawa/communityday
ご指摘を反映しましたので、最終版の確認をお願いします。

https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%91%E3%83%B3%E3%83%95%E3%83%AC%E3%83%83%E3%83%88/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF/%E5%A4%96%E9%9D%A2.pdf

https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%91%E3%83%B3%E3%83%95%E3%83%AC%E3%83%83%E3%83%88/%E7%A2%

[2019-11-05 23:40] PharaohKJ commented on #9
OK
登壇者にメールします

[2019-11-05 23:53] PharaohKJ commented on #9
この情報密度だと、A4に印刷するより、A5が4ページ（開いたらA4）がいい気がしてきた、、、。
さすがにタイムテーブルが読めないかな？

[2019-11-06 02:29] PharaohKJ commented on #9
![パンフ・外](https://user-images.githubusercontent.com/1581985/68263185-b6c2e680-0088-11ea-9617-8858b088bea0.jpeg)
![パンフ・中](https://user-images.githubusercontent.com/1581985/68263188-b75b7d00-0088-11ea-940c-66ac9e53d657.jpeg)

[2019-11-06 02:43] aibax commented on #16
@PharaohKJ ↑サイズに関しては言うだけ言ってみましょう。

[2019-11-06 02:46] aibax commented on #16
入稿データの仕様について転記

データの仕様について
- サイズは横330mm x 縦380mm 以内
- フォントはアウトライン化
- 色はCMYKで

ファイル形式は Adobe Illustrator 形式で、互換性はCS6まで落としたもの。

インクは調色可能なので、DICまたはPANTONEの色番号で指定すればできるだけ合わせますとのこと。

@PharaohKJ こちらデザイナーさんに共有お願いします。

[2019-11-06 02:52] PharaohKJ commented on #16
@aibax さん仕様につきまして

https://paper.dropbox.com/doc/T--AoByXTvADIhpZr4ZJ9n1QMFDAg-KLhM0qoZyvtar3cPXmXsj#:uid=101323409015663005563788&h2=%E7%99%BA%E6%B3%A8%E3%81%AE%E4%BB%95%E6%A7%98

に転記して昨日の午前に伝達済みです。ありがとうございます。

[2019-11-06 04:09] matyuda commented on #9
@PharaohKJ さん
A4サイズだと小さいのと持ちづらいと思います。

スペースの空きが気になるとの事でしたら中面にも登壇者の写真入れましょうか？

[2019-11-06 04:49] TAKAyukiatkwsk commented on #9
デザインLGTMですー👍

[2019-11-06 04:59] PharaohKJ commented on #9
@matyuda さん
スペースの空きはあまり気にならない。裏表紙がちょっとたらロゴ並べてるだけ（それがいいんだけど）で
でかすぎてイマイチかっこよくないかなって印象。

スポンサーロゴページに余白マージン(HTMLでいうページ内側にパディング)とって、ぐっとスポサンーロゴ近づけたほうがオシャレ感あると思うなあー。

最終のご案内を裏表紙・最下段にもってきて、折込内側の表をでかくして見やすくする。
裏表紙は全体的に余白とって、詰める、4個ずつの段にするとかのがオシャレかな？

時間もないですし、おまかせします！

[2019-11-06 06:58] PharaohKJ commented on #14
@higachan0406 さん
カニマジ楽しみいいいいいい。とりあえず25で予約お願いします！

[2019-11-06 06:59] PharaohKJ commented on #23
アイ・オー・データ機器さまからお返事いただけました。

トランザムさんと相談して企画説明書を追加し、送付します。
来週には機材レンタルできる予定です。

[2019-11-06 09:04] PharaohKJ commented on #9
@matyuda さん

DMMさまより、修正の依頼ありました。詳細については先方のリンクも含まれていたため、SlackのDMで送りましたが、ロゴの右側の余白が足りないとのことだそうです。

対応よろしくおねがいします。

[2019-11-06 13:32] higachan0406 commented on #14
@PharaohKJ
活きな魚 地酒 座吟
https://r.gnavi.co.jp/sr2u2pph0000/menu1/?sc_lid=r-sub_news

電話：050-3374-0769

キャパ：50人
　　　　今の所空きあり。(20191106)

場所：金沢駅近い

料金：料理のみ5,000円　飲み放題2,000円　＝　7,000円

電話で聞いてみました。
ホームページで香箱蟹のコンテンツ出てないの不安だけど、
待ってたら席なくなりそう。
7,000円でよい？

[2019-11-06 13:46] higachan0406 commented on #14
底曳き割烹　もんぜん
http://monzen-noto.com/monzen/

・時間はスタートなら20:00 - 20:30なら開いてる。
    17:30から宴会があるそうで、それ終わり、片付けで入れる。
・コース5,000円＋香箱蟹単品(千円台)　＝　7,000円
　※飲み放題は入っている、ハズ。ここにするなら再度確認要。

他のお店でも、コース＊＋香箱蟹単品ていう提供が多そう。
カニづくしコースは1万円(飲み放題なし)だそうです。

[2019-11-06 13:49] higachan0406 commented on #14
地もの魚と旨い酒 とと屋

20日は団体がいるそうでNG。
香箱蟹は扱っているようです。
香箱蟹は明日解禁と話していました。

[2019-11-06 13:55] higachan0406 commented on #14
せん
http://www.1000.ne.jp/ekimae/shop.html

席は空いてます。
コースは香箱蟹入、飲み放題入で1万。
低めのコースに香箱蟹追加もやってないそうです。

[2019-11-06 15:00] matyuda commented on #9
@PharaohKJ さん

ロゴの件、DMMさまの規定を満たしておらずご迷惑をおかけしました。
ロゴを縮小して、余白を確保しました。

なお、パンフレットですが、２００部で良いでしょうか？（当初４００部７，０００円とお伝えしていました）
２００部の場合受付後、６営業日後の出荷で６，２７０円＋税になります。

一応納期から逆算で下記の通りとなります。

１１月５日　GitHubへ最終PDFをpush
１１月６日　最終レビュー
１１月７日　最終のPDFデータをラクスルへアップロード
１１月８日　校了（印刷OKの連絡）
１１月１５日　出荷（１営業日バッファあり）
１１月１９日　パンフレット着

[2019-11-06 15:24] osamu-036 commented on #29
すみません。仕事が炎上中で、ページは作ったものの、本のさわりしか書けておらず。。。

ちなみに、書き出して思ったのですが、登壇者や写真NGの方って、
どうストラップを区別するか決まってます？
（例えば、紐か名前を記入するカード(?)の色を分けるとか？）

https://github.com/jaws-ug-kanazawa/aws-community-day/wiki/WIP:%E5%BD%93%E6%97%A5%E5%8F%97%E4%BB%98%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A2%E3%83%AB

[2019-11-06 15:41] matyuda commented on #9
@PharaohKJ さん

について反映したデザインを作成してみました。もともとの案とどちらが良いかご意見ください。
なお、ロゴ４個ずつの案は、余白を確保しなければならない問題がある為、採用できませんでした。

案１
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%91%E3%83%B3%E3%83%95%E3%83%AC%E3%83%83%E3%83%88/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF/%E5%A4%96%E9%9D%A2.pdf
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%91%E3%

[2019-11-06 23:53] PharaohKJ commented on #16
@aibax さん
TシャツのAIデータ届きましたので確認 & 発注お願いします！

https://www.dropbox.com/s/vsay5i46tf2y2ui/T%E3%82%B7%E3%83%A3%E3%83%84_1107.zip?dl=0

[2019-11-07 00:04] PharaohKJ commented on #9
俺としては案2がいいと思うんですがどうでしょ？ > 各位

あーこれいいアイデアであったほうがいいと思います。あとで資料公開するなどを考えても。
対応していただけるとありがたいです。

[2019-11-07 00:16] PharaohKJ commented on #9
題2案レビューしました。

![スクリーンショット 2019-11-07 09 15 12](https://user-images.githubusercontent.com/1581985/68349053-20053100-013f-11ea-974a-160962b20c01.png)

[2019-11-07 00:27] PharaohKJ commented on #29
https://drive.google.com/open?id=1TnvBJb6ud1KGyBMQgeIGBbGyFeVpYo3d
- 写真OKの方にはネイビー
- 写真NGの方にはホワイト
のストラップを配布してください。

登壇者受付、を隣に作成し、登壇者の場合には、普通の受付 & お名前をおうかがいして、対応するTシャツをお渡ししてください。

Tシャツのサイズ表は

https://docs.google.com/spreadsheets/d/1hSksqTIWz3XbIUhkyUZgb48nZkHr4g8jI-lMwLIhibw/edit?usp=sharing

を参照してください。この表、当日は印刷してもっていくようにします。

[2019-11-07 00:28] PharaohKJ commented on #29
@osamu-036 さん↑よろしくです。

[2019-11-07 00:31] PharaohKJ commented on #33
@yuuitiro さん、当日2台ご用意いただいてよろしいですか？
バックアッププランとして使いたいです。オオゴトでしたら大丈夫です。
事前郵送が必要でしたら教えて下さい。

[2019-11-07 01:18] PharaohKJ commented on #9
@matyuda さん

表記変更の依頼がありました。

株式会社永和システムマネジメント
酒井義仁＆村上雅彦

と変更してほしいとのことで。（横に並んでいるととても長くみえちゃうので）

ウェブページのほうは私が修正しておきます。

さらに、登壇タイトルを変更したいんだがデッドラインはいつか？という質問もいただきまして、
「明日(11/8金)の朝」がデッドラインです、と答えておきました。

[2019-11-07 01:28] PharaohKJ commented on #9
ごめんなさい↑にスケジュール書いてくれてたね。もう間に合わない旨再度連絡します。

[2019-11-07 01:29] PharaohKJ commented on #9
今晩ラスクルアップロード予定ならば、私もチェックなどつきあいますので、ちょっと夜作業開始したら私宛になんでもいいのでmentionとか飛ばしてくれると助かります。

[2019-11-07 01:31] PharaohKJ commented on #9
パンフ200部でOK。ただちょっとDMMさんに修正済みの原稿みてもらうのに時間かかるかも。

[2019-11-07 01:59] PharaohKJ commented on #14
@higachan0406 さん
もんぜんさんの5000円コースを

- 飲み放題つきですか？
- 当日、カニ食べたい！人だけ別注できますか？

を確認して、OKなら抑えてほしいです。

[2019-11-07 02:18] aibax commented on #16
@PharaohKJ デザインデータ、入稿完了しました

[2019-11-07 04:20] matyuda commented on #9
@PharaohKJ さん
本日頂いているご指摘事項を反映しましたらご連絡します。
問題なければラクスルさんへ入稿します。

[2019-11-07 04:45] aibax commented on #16
@PharaohKJ

入稿したデータについて

とのことなんだけど、問題ないよね？

[2019-11-07 05:14] PharaohKJ commented on #16
OKいただきました。それでお願いします。
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-07 05:56] PharaohKJ commented on #14
@higachan0406 さんから
場所：もんぜん
時間：20:15
送迎：なし
飲み放題：あり
カニ：なし、食べたい人は別注で。1週間前までに数はほしい
予算：＠5,000円

[2019-11-07 05:58] PharaohKJ opened #35 "カニ食べたい人の数のアンケート"
https://github.com/jaws-ug-kanazawa/aws-community-day/issues/14#issuecomment-550837717

11/11(月)に、google formを作成して、その数を得ること。11/13に確定して #14 にフィードバックし @higachan0406 さん経由でお願いする。

目安としてカニ 2,000円いかないよね？その目安です、と別注希望確認とります。
参加人数、カニ人数確定したらクローズ予定。

[2019-11-07 06:00] PharaohKJ opened #36 "勉強会トラック配信テスト"
#23 より

機材を借りられたらトランザム吉田さんとテストにITBP武蔵にいく。

現在、機材貸出手配中。

[2019-11-07 07:12] PharaohKJ commented on #9
@matyuda さん
永和システムマネジメントさんの登壇タイトルが
『サーバーレスでロケットスタート（仮）』
から
『拡張して使う Serverless & Amplify』
に変わったので対応お願いします。

[2019-11-07 09:03] PharaohKJ commented on #9
@matyuda さん、植木さんが写真を緑鬼から顔画像にパンフだけ差し替えてほしいとのこと。
画像はslackのDMでお送りします。

[2019-11-07 11:58] higachan0406 commented on #35
今日、11/7(木)はカニ解禁でした。
今日の香箱蟹のお値段は初日だからでしょうか、「1,950円」とのことでした。
後、香箱蟹は取り置きができないようです。
なので、当日、シケなどで取れない場合は食べれません。もしくは数が少ないかも。
他店でも同様なのでお店回ってもありつけないとか。

[2019-11-07 12:08] higachan0406 commented on #14
コースは4,000円はありませんでした。こちらのお店は5,000円からですのでご了承ください。
1週間前の11/13(水)には最終人数と、香箱蟹食べる人数を報告する必要があります。
現在25名で予約しています。
このタイミングだと、4,5人の増減は対応可能です。(5人は増えても大丈夫。)
直近の人数調整は1,2名なら可能となります。
前日の15:00まで受け付けます。

蟹甲羅焼きグラタンがメニューにあるっていってたのと、料金からみて
以下のコースになると思われます。
11月【見附島コース】90分飲み放題付全9品5000円
https://r.gnavi.co.jp/r041201/menu1/
今度電話かけたときに確認したいと思います。

[2019-11-07 12:22] higachan0406 commented on #35
1,950円は税込みか税抜か気になるなら聞いておきますが。

[2019-11-07 12:43] higachan0406 commented on #14
予約は「ひがしかわ」で取ってあります。
団体名を聞かれましたので「AWS Community Day」とお伝えしましたので、そちらでも入れると
思います。
口頭でお伝えしましたので「AWS　コミュニティ　デイ」「エーダブルエス　コミュニティ　デイ」のような形で入り口に団体名が書かれている場合があります。

[2019-11-07 13:22] matyuda commented on #36
私も日程調整つけば同席させてください。

[2019-11-07 13:54] matyuda commented on #9
@PharaohKJ さん

中面を更新しました。
セッション番号の採番ルールについて問題ないか確認ください。
また、Webサイト確認しましたところハンズオンが前半、後半に分かれていましたので、あわせて反映してあります。
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%91%E3%83%B3%E3%83%95%E3%83%AC%E3%83%83%E3%83%88/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF/%E4%B8%AD%E9%9D%A2.pdf

外面はこれから修正します。

[2019-11-07 13:55] PharaohKJ commented on #36
OK 日程決めるときは連絡します。

[2019-11-07 13:58] PharaohKJ commented on #9
@matyuda さんあざっす。
内面のハンズオン32名、のところ、2名分は講師席だそうなので、「30名」に修正しておいてください。
他の部屋は椅子増加で対応できるので、そのままでいいです。
ハンズオン部屋だけ人数がデリケートになりそうなのでよろしくおねがいします。

[2019-11-07 14:32] matyuda commented on #9
@PharaohKJ さん

ハンズオンの人数修正しました。
外面含めて最終のご確認お願いいたします。

[2019-11-07 14:39] PharaohKJ commented on #9
区切り線は黒か灰色がいいかな？オレンジだとなんか規約とかありそう。

時刻表のヘッダ部分が灰色地の黒は読みにくいかも。灰色をもっと薄い灰色がいいんじゃないかなー？

背面スポンサーロゴのAWSのロゴサイズですが、比率を表紙のUGロゴとAWSロゴのサイズ比率に合わせたほうがいいかも。

あとはおっけーです！
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-07 15:54] matyuda commented on #9
@PharaohKJ さん

ご指摘ありがとうございました。
修正したものをラクスルさんへ入稿しました。
下記内容にて進めていますので、問題がありましたらご指摘ください。（"ラクスル"の透かし文字が入っている部分は無視してください）

https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%91%E3%83%B3%E3%83%95%E3%83%AC%E3%83%83%E3%83%88/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF/%E5%8D%B0%E5%88%B7%E5%89%8D%E6%9C%80%E7%B5%82%E7%A2%BA%E8%AA%8D%E7%94%A8.pdf

[2019-11-07 20:01] PharaohKJ commented on #9
あざっす！！深夜までありがとうございました！
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-07 20:42] yuuitiro commented on #17
@PharaohKJ Buffer 弾切れなんだけども、従来のスタッフ紹介で埋めておきます？
カニであおっておきます？

[2019-11-07 21:56] matyuda commented on #9
@PharaohKJ さん
こちらこそお付き合いいただきありがとうございました。
デザイン追い込みいただいたおかげで、かなり良いものが出来たと思います！

[2019-11-07 23:13] PharaohKJ commented on #17
カニは割増じゃないと食べられないからなあ、、、でもまぁそれとは関係なく紹介していいか。

--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-08 00:34] TAKAyukiatkwsk commented on #25
@PharaohKJ ミーティングの内容をもとにマニュアル更新しました。ご確認お願いします！
https://paper.dropbox.com/doc/AWS-Community-Day--AoIQqht2XRlj6a2XvGfv7FVOAQ-aPcPdOpHKYLH5YVM9WRUk

[2019-11-08 02:20] PharaohKJ opened #37 "ハンズオン用電源タップ"
@jaws-ug-kanazawa/communityday 各位
30人いらっしゃるということで、割とガッツリ用意しないといけない。
貸していただける方はここに連絡ください。
ロジスティクス部のほうでまとめます。

[2019-11-08 06:53] yuuitiro commented on #37
- 電源タップ (3p) 4個口 が ４つ ちょっと短い 2m かな
- 電源タップ (3p) ６個口 が ２つ
- 無線LANアクセスポイント（ルータ機能なし） が２つ
- ルータが必要であれば YAMAHA RTX-1200 が１つ
- ネットワークケーブル数本

以上提供可能です。

[2019-11-08 07:18] yuuitiro commented on #37
来週金沢・福井へ出張る予定なので、そのときにおいていきますよ。
相羽さんの会社にお預けするのがいいのかな？

[2019-11-08 22:56] PharaohKJ commented on #37
それがいちばん助かります。 @aibax さんと連絡とって進めてほしいですー。

ルータの設定については #33 でやりましょう！

[2019-11-08 23:27] PharaohKJ commented on #33
@yuuitiro さん

![ハンズオン回線図](https://user-images.githubusercontent.com/1581985/68517349-94b8a680-02ca-11ea-9123-4818f76ba92e.png)

このカタチにしようかなあと考えるんですがどうですかね？のべでいうと60人、会場では30〜35ぐらいの数なら同一SSIDでいけますかね？

[2019-11-08 23:31] yuuitiro commented on #33
行けると思いますよ。
ロードバランシングの機能あるけど、つなぐSSID分けてもらえれば、確実ですね。

[2019-11-08 23:39] yuuitiro commented on #37
@aibax @PharaohKJ 当日はお昼ぐらいにそちらに付く予定なので、機材は事前にお渡し・あとから回収という流れにしたいと思っています。

12 or 14 に金沢方面へゆく予定があるので、そのときに機材をお渡しできればなーと。
回収はまだ予定未定です

[2019-11-08 23:39] PharaohKJ commented on #15
@higachan0406 さん
お弁当の注文の際には箸がついているか確認（ごめん、↑によるとついてた）
オードブル頼む際には箸がついているか確認（こっちはないのかな？）

芝寿しさん、お弁当・オードブルのゴミを取りに来てくれるという話なので、そのあたりも話しておいてください。（ゴミをどうまとめておけばよいかもきいておいてください。）

[2019-11-08 23:46] PharaohKJ commented on #14
ありがとう！！！
人数確定を待ちましょう。

[2019-11-08 23:48] PharaohKJ commented on #35
2,000円ぐらいと予想と書いておきます。

[2019-11-08 23:49] matyuda commented on #9
@PharaohKJ さん

ラクスルさんより若干の塗り足し不足の指摘があり、再入稿できることとなりましたので、
文言修正も併せて対応しておきました。
日程もギリギリになっています（出荷日が11/18になる見込です）ので、下記で再度データチェックを進めて頂いています。

https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%91%E3%83%B3%E3%83%95%E3%83%AC%E3%83%83%E3%83%88/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF/%E5%A4%96%E9%9D%A2.pdf
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A

[2019-11-08 23:50] PharaohKJ commented on #9
ありがとう！！

[2019-11-08 23:54] PharaohKJ commented on #33
設定いつやりますかね？当日朝、私が設定できる？ @yuuitiro さん事前に設定していただけます？
それか当日お昼に入ってもらって即この作業に入ってもらうか、ですかねえ。
（これまでは、私と matyda さんそれぞれ自分の持ち込む予定だったので設定はそれぞれやってもらう予定だったのです）

[2019-11-09 00:03] yuuitiro commented on #33
この程度なら事前設定してお渡しできますよ。
config は共有して「もしも」の時は対応お願いします！
多分最新機種よりトップスピード遅いけど、ルータを分けるので落ちずにそこそこ動いてくれると思います。

[2019-11-09 00:12] PharaohKJ commented on #33
ありがとうございます。よろしくおねがいします。

[2019-11-09 06:09] PharaohKJ commented on #9
@matyuda さん、パンフの納品先はどこにされました？

[2019-11-09 06:15] PharaohKJ opened #38 "会場セッティングマニュアル作成"
配信者席を準備すること

- 受付
- 展示室
- トラックA
  - キーノート開始/終了
  - 昼食配布時
  - 懇親会準備
- トラックB
  - キーノート開始/終了
  - 昼食配布時
  - 懇親会準備
- ハンズオン会場 → 済

[2019-11-09 06:23] PharaohKJ commented on #25
受付順をどうするか運用するか、難しいですね。

[2019-11-09 06:48] higachan0406 commented on #15
@PharaohKJ さん
オードブルも芝寿しさんの50人分の箸、手拭きが付きます。
後、業務スーパーで箸50人分の箸を調達しようとしましたが、100膳しかなかったので
それにしました。

[芝寿し：空折容器回収についてのお願い](https://www.online-shibazushi.com/user_data/karaorikaisyu.pdf)
芝寿しのみやたさん（女性）にお聞きしました。

・30折以上、金沢市なので回収して頂けます。
・弁当の空折はとりべんとう、はらぺこさんはダンボールに入れて持ってきてくれるそう
　ですので、それに詰めます。
・弁当の空折の回収タイミングは、指定できませんが、おおよそ14:00 - 17:00となります。
　おそらく、オードブルを17:00に届けてもらうタイミングで回収となるかと思います。
・オードブルの回収は、翌日となります。
　イベント開

[2019-11-09 06:52] PharaohKJ commented on #15
これ、翌日回収は、会場からや生ゴミ残しはやらないでくれって言われてるので、ちょっと考えましょう。
現実的な路線としては誰かの車に詰めて運ぶしかないかと。

[2019-11-09 11:16] TAKAyukiatkwsk commented on #25
難しいですね。。。

基本的には早く来た人順でしょうけど、ドアキでハンズオン参加登録した人をそのまま入れて、参加登録してない人は一旦待ってもらって席が空いてるようなら入れる。席が埋まってしまったら後半の部に来てもらう。って感じですかね。:thinking:

[2019-11-09 12:04] PharaohKJ commented on #13
@jaws-ug-kanazawa/communityday 各位
https://docs.google.com/spreadsheets/d/1iHnHPjI5lwrue9aFlhEGsJgTQ8duKn-OTI4VvdSKBgM/edit?usp=sharing

の配置シートを参照 & 編集してください。

適当に加藤が名前書きましたが、変更とか自分の名前記入してください！
特に自分がききたいトラックの司会をやってくれると助かります！

[2019-11-10 14:07] matyuda commented on #9
@PharaohKJ
お返事遅くなりました。
納品先は、私の自宅になります。
最終確認用PDFが上がってきました。こちらで印刷進めますので、万一問題がありましたら教えてください。追加で印刷することを検討します。
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%91%E3%83%B3%E3%83%95%E3%83%AC%E3%83%83%E3%83%88/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF/%E6%9C%80%E7%B5%82%E7%A2%BA%E8%AA%8D%E7%94%A8.pdf

[2019-11-10 15:03] PharaohKJ commented on #9
内容OK
それでは当日パンフ持ち込みよろしくお願いします。
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-10 15:16] PharaohKJ opened #39 "お弁当配布マニュアル"

[2019-11-10 15:37] osamu-036 commented on #29
@PharaohKJ さん、すみません。遅くなりました。
とりあえず、思いつく限りは書いてみました。

https://github.com/jaws-ug-kanazawa/aws-community-day/wiki/%E5%BD%93%E6%97%A5%E5%8F%97%E4%BB%98%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A2%E3%83%AB

[2019-11-10 17:12] PharaohKJ commented on #29
@osamu-036 さん
だいたいOKだと思います。いろいろ追加したり省略したりしておきました。

ハンズオン受付は今週中に考えます。

[2019-11-11 02:14] PharaohKJ commented on #14
フォーム > https://forms.gle/kKPcA19NKPCEfkcf6
回答 > https://docs.google.com/spreadsheets/d/1IaXgzThvtnG80_rwoSvYd44jh56zvRjibdOBDKb0q8Y/edit?usp=sharing
でカニききます。11/13(水) のお昼頃締め切りとします。

[2019-11-11 04:13] matyuda commented on #9
@PharaohKJ
承知しました！

[2019-11-11 05:02] PharaohKJ commented on #9
🙇‍♂️

2019年11月11日(月) 13:13 Yasuhiro Matsuda <notifications@github.com>:

--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-12 09:11] aibax commented on #16
サイズの事前申告があった32名に予備を加えて51枚で発注完了。

予備の内訳は M 3枚 / L 12枚 / XL 3枚 / XXXL 1枚 の合計19枚

[2019-11-12 09:12] PharaohKJ commented on #16
👺👺👺
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-13 00:22] higachan0406 commented on #15
誰かの車に食べ物ゴミはにおいが厳しそう。部屋でも厳しいですが。
オードブルはもしかすると今出てる提案になることもあるかと思いますので、
打ち合わせ後にネット注文しますね。

[2019-11-13 00:24] PharaohKJ commented on #15
おらが車は別に気にしないのでそれでもいいですよ。車に入れておく作戦になるのだったら言うてください。
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-13 00:31] PharaohKJ opened #40 "警備マニュアルの作成"
ストラップしてない人は各会場には入ることができない旨伝えること。

[2019-11-13 00:33] PharaohKJ opened #41 "懇親会企画"
- 最初にお車の方、未成年の方は飲酒厳禁の旨案内すること
- 加藤から挨拶
- AWS沼口さんから挨拶

[2019-11-13 00:33] PharaohKJ commented on #19
最初にお車の方、未成年の方は飲酒厳禁ポスター

[2019-11-13 00:51] PharaohKJ commented on #29
@osamu-036 さん
飲酒に関してを案内に追加しました。

[2019-11-13 05:37] higachan0406 commented on #14
先程、人数24、カニ5で予約。
前日15:00までキャンセルを受け付けます。

[2019-11-13 05:54] PharaohKJ commented on #14
ありがとうございます！
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-13 06:16] yuuitiro commented on #33
準備できました。

## ルータの設定

[code]

## 無線LAN アクセスポイントの設定

### 1号機

ユーザ名 root
handson1
kanazawa2019

### 2号機

ユーザ名 root
handson1
kanazawa2019

## メモ
* 管理者用のパスワードは別便でお伝えします。
* 2019/11/14 相羽さんの会社に持って行きます。

[2019-11-13 06:44] INTEC-Takayasu commented on #13
インテックから各会場１人ずつスタッフを出します。個人名はまだ確定しておりませんので、とりあえず「インテック１～３」と書かせていただきました。当日でも構わないので、具体的に何をすればよいか打ち合わせさせてください。
また、セッティングや後片付けは、その場にいる社員たちで手伝います。５名ぐらいは確保できます。

[2019-11-13 10:10] PharaohKJ commented on #23
https://paper.dropbox.com/doc/T1Pp5qvTujGCUbjE51W8y

@matyuda san kyou no report

[2019-11-13 11:40] aibax commented on #16
スタッフ用シャツで一部サイズの在庫が無かったため、カラーを「 109 デニム 」から「037 アーミーグリーン 」に変更。
登壇者用は変更なし。

[2019-11-13 12:55] TAKAyukiatkwsk commented on #25
2019-11-13のミーティングで議論した内容

https://paper.dropbox.com/doc/2019-11-13--Aoj4RcaQY12MG4_jPxiyQWXSAg-U1tA373EVwHUHzlueD1dB#:uid=450541424145374605954000&h2=%E3%83%8F%E3%83%B3%E3%82%BA%E3%82%AA%E3%83%B3

[2019-11-13 14:52] matyuda commented on #23
@PharaohKJ さん

レポート確認しました。ありがとうございます。
本日宿題としました登壇者の映像を上部にスライドを下部に貼りこみするための背景画像を作成しました。
なお、ライブ配信を都度セッションごとに区切るとのことにつき、セッション完了後にYoutubeで配信するタイトル名については、コピー＆ペースとして頂けるだけとするためにテキスト（セッション番号＋セッション名　のリスト）を事前に用意しておき、配信担当の２名の方にお送りするようにいたします。

[2019-11-14 01:43] higachan0406 commented on #14
@PharaohKJ さん
当日参加する方から食事が始まる前にお金を回収します。
参加予定のお名前のリストが欲しいです。
理由は、お金を回収した人のチェックリストを作成するためです。

[2019-11-14 02:33] aibax commented on #26
参加申込状況を考慮して
* 緑茶 24本 x 3箱
* 烏龍茶 24本 x 3箱
で発注完了

[2019-11-14 02:40] PharaohKJ commented on #14
わかりました。ロジスティクス部表にも追加しておきます。懇親会終了後、片付け中に集金をお願いします！
イベント用使い捨てリストバンドを持っていくので、集金した方に腕に巻いてもらってください。
もんぜん入り口で、これをしてない人は入場不可という運用で！
お金管理と名簿管理と受付同時にやるのは大変なので、あと2人にヘルプしてもらってください。
この手配についても、当日のタスク表に書いておきます。

[2019-11-14 04:12] higachan0406 commented on #15
オードブルの注文30人分(5人分 x 6)を行いました。
翌日の回収先は相羽さんのところでお願いしました。

〒920-0854
石川県金沢市安江町3-11 金澤表参道B.L.D 201
Tel: 076-222-8521 Fax: 076-255-0904

お伝えしていませんでしたが、回収時間帯は指定できず、
午後の14:00 - 17:00の間ぐらいになります。

[2019-11-15 01:50] PharaohKJ commented on #25
コストコで買ったキャンプ用の机を持ち込みます。椅子さえあれば+2人はいけるはず。

[2019-11-15 01:52] PharaohKJ opened #42 "イベントページのstatic化"
現在LightSailでやってるの忘れてた。
イベント終了したらstatic化する。

LightSailでセットアップする方法をまとめとおいて、いちがみさんに提出する（無料で使わせてもらったお礼）。

[2019-11-15 02:01] PharaohKJ commented on #35
いったん締め切り。なんかあったら連絡します。

[2019-11-15 02:01] #35 closed, assigned to PharaohKJ

[2019-11-16 01:55] PharaohKJ commented on #36
済み。問題がいくつかわかったのでレポートした。
レポートは[こちら](https://paper.dropbox.com/doc/--AoqxM_j1wVUttZDgRZ~kMOZdAQ-T1Pp5qvTujGCUbjE51W8y)

とりあえず準備はOKなので、当日おまかせする。

[2019-11-16 01:55] #36 closed, assigned to PharaohKJ

[2019-11-16 01:56] PharaohKJ commented on #25
マニュアルできたのでクローズ当日はよろしくおねがいします。

[2019-11-16 01:56] #25 closed, assigned to TAKAyukiatkwsk

[2019-11-17 11:27] higachan0406 commented on #15
[懇親会食事]
お酒
配達時間：17:00着
料金：15,300円
内訳：
アサヒスーパードライ　　1ケース(24缶)　5,100円
キリンラガービール　　　1ケース(24缶)　5,100円
サントリー角ハイボール　6缶 x 2(12缶)　2,400円
キリン氷結グレープフルーツ　6缶 x 1(6缶)　900円
キリン氷結レモン　　　　6缶 x 1(6缶)　900円
キリン氷結ウメ　　　　　6缶 x 1(6缶)　900円

・領収証は予め作ってくるみたいで名前は東川の名前になっている。
・冷蔵庫で冷やしてもらって持ってきてもらいます。

[2019-11-18 02:34] #4 closed, assigned to PharaohKJ

[2019-11-18 02:38] PharaohKJ commented on #23
@matyuda さん
当日はポスターなどの設置は別の人にやってもらうので、配信部担当と朝イチで詰めて進めてください。
1時間だとセッティングギリギリとのことなので、まずはトラックAを10:30までにおえて、次トラックBを11:30までに進める、、、といった予定になっています。人員配置など、トランザムさんと朝イチ（もしくは、Facebook）でつめておいてください。

[2019-11-18 02:38] #23 closed, assigned to matyuda

[2019-11-18 04:06] matyuda commented on #19
@PharaohKJ さん
ポスター類の準備が遅くなっていて申し訳ありません。トラックAについて作成しましたので、ご確認ください。
行間が不揃いな点がありますので、可能な限り調整します。

なお、サイズはB3になりますので、B4 2枚で印刷してテープでつけてB3にする予定です。

[2019-11-18 04:08] matyuda commented on #17
あと2日になりましたので、カウントダウンの告知はいかがでしょうか？

[2019-11-18 04:10] PharaohKJ commented on #17
そのネタ最高。夜に流しておきます！
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-18 10:11] matyuda commented on #23
@PharaohKJ さん
承知しました。

[2019-11-18 10:13] matyuda commented on #23
https://docs.google.com/spreadsheets/d/18_BLpCHs5yW-cQNNuZpBL_72_nosxGZLet3LRapzbR0/edit?usp=sharing
より

配信NGの時間帯
トラックA
13:30～14:20 の後半
14:30～15:20 の後半
15:30～16:20

トラックB
NGのセッションなし

[2019-11-18 13:33] matyuda commented on #17
@PharaohKJ さん

明日の１８時に下記で案内をお願いします。

----
明日 AWS Community Day 金沢が開催されます。
皆様とクラウドについてまる1日お話できることを楽しみにしております。
明日参加できない方のためにライブ配信を企画することとなりました。
（一部非公開セッションあり）

視聴ご希望の方は、公式チャネルを登録してください。
https://www.youtube.com/channel/UCkcXqRZEm1TEaJP0chkZlKQ

[2019-11-18 13:34] matyuda commented on #17
@PharaohKJ さん

２０日の６時に下記で案内をお願いします。

----
本日１０時３０分より AWS Community Day 金沢が開催されます。
皆様とクラウドについてまる1日お話できることを楽しみにしております。
本日参加できない方のためにライブ配信を企画することとなりました。
（一部非公開セッションあり）

視聴ご希望の方は、公式チャネルを登録してください。
https://www.youtube.com/channel/UCkcXqRZEm1TEaJP0chkZlKQ

[2019-11-18 13:36] PharaohKJ commented on #17
@matyuda さん文字数がめっちゃオーバー！ハッシュタグなどあるので 80文字ぐらいでお願いします。
![スクリーンショット 2019-11-18 22 35 37](https://user-images.githubusercontent.com/1581985/69056645-c0b6f300-0a53-11ea-82a4-716ca4a5940a.png)

[2019-11-18 13:36] matyuda commented on #17
@PharaohKJ さん

２０日の１０時に下記で案内をお願いします。

----
AWS Community Day 金沢の受付が始まりました。
皆様とクラウドについてまる1日お話できることを楽しみにしております。
本日参加できない方のためにライブ配信を企画することとなりました。
（一部非公開セッションあり）

視聴ご希望の方は、公式チャネルを登録して１０時３０分からの配信をお待ちください。
https://www.youtube.com/channel/UCkcXqRZEm1TEaJP0chkZlKQ

[2019-11-18 13:39] matyuda commented on #17
@PharaohKJ さん
文面見直しました。これでも長いでしょうか？

[2019-11-18 13:46] PharaohKJ commented on #17
ギリギリまだ長いというか、140文字全部使っちゃう。ハッシュタグなど入らないので、以下文面でいきましょう。

AWS Community Day Kanazawa は明日開催です。10:30のキーノートより、ライブ配信も企画しておりますので、ぜひ公式youtubeチャンネルをご登録ください。https://www.youtube.com/channel/UCkcXqRZEm1TEaJP0chkZlKQ  #jawsug  #awscommunityday

[2019-11-18 13:53] higachan0406 commented on #15
11/18 打ち合わせメモ
・弁当を107から90に減らす。
・お弁当が残った場合の対応としてお持ち帰りがありますが、
　帰りの電車で食べてくださいはNGです。
　AWSさんのお名前を借りていますのでなにかあると問題です。
　リミットは業者さんがお弁当の空折回収の時まで。
・弁当、オードブル、お酒の一時的な支払いは加藤さん。
・当日飛び込みの方のお弁当は、基本なしです。

[2019-11-18 14:06] higachan0406 commented on #14
11/18 打ち合わせメモ
・みなし30人で予約。
　→27人で予約。当日、3人増えた場合、入れるか確認。
・カニは６。
・集金は、受付で飲みのお金を集金を予定。
　受け取った場合は、加藤さんの使い捨て腕輪を渡すこと。
・集金したお金は、控室(扉は鍵付きであることを確認する。)。

後、お願いです。
・後、カニ食べてるの横で見てて食べたくなった、単品で注文したいとかは、
　一旦、ひがまで連絡もらう必要があります。
　理由は、精算時に料金が合わなくなるためです。

[2019-11-18 14:22] higachan0406 commented on #15
お弁当配布、ひが＋５人で監視配布。

Q．隣のやつの分も取りに来ました。
　　という形でお弁当２種食べようと試みる方の対応は？
A．柔軟に対応する。

[2019-11-18 14:26] higachan0406 commented on #15
こんなんかかなくていいわと思って、間違ってクローズしてしまいました。
載ってしまったのでそのままとします。
柔軟に対応は、本当にいるか目で確認、お弁当をスタッフがそこまで持ってくなど。

[2019-11-18 15:12] matyuda commented on #17
@PharaohKJ さん
宜しくお願いします！

[2019-11-18 15:14] matyuda commented on #19
@PharaohKJ さん
案内ポスター取り急ぎすべて作成したつもりですが、漏れがありましたらご指摘ください。
https://github.com/jaws-ug-kanazawa/aws-community-day/tree/master/%E6%A1%88%E5%86%85%E3%83%9D%E3%82%B9%E3%82%BF%E3%83%BC/%E7%A2%BA%E8%AA%8D%E7%94%A8PDF

@TAKAyukiatkwsk さん
ハンズオン会場のポスターはこちらで問題ないかご確認ください。
https://github.com/jaws-ug-kanazawa/aws-community-day/blob/master/%E6%A1%88%E5%86%85%E3%83%9D%E3%82%B9%E3%82%BF%E3%83%BC/%E7%A2%BA%E8%AA%8D%E

[2019-11-18 22:40] matyuda commented on #33
@PharaohKJ さん

私がもっていく予備のアクセスポイントは @yuuitiro さんにご用意いただいたアクセスポイントに合わせて SSID を handson1 としました。handson2 等への変更が必要であれば教えてください。

[2019-11-18 22:52] PharaohKJ commented on #33
@matyuda さんのは
いまのところはバックアッププランなので、とりあえずそれでOKです。ありがとうございます。

[2019-11-18 23:28] PharaohKJ commented on #17
予約完了

[2019-11-18 23:35] PharaohKJ commented on #19
@matyuda さん
いいと思います。ゴミの種類の英語、これどこか参照あります？あってるかどうかレビューできないw
あと、全体的にPDFファイルのサイズがでかいのは、これ小さくなりませんかね？
いや、コンビニプリントのアップロード容量制限にひっかかるんで、手持ちのmacでファイルサイズ
小さくしてからアップロードしてるんですけど、何が違うのかわからなくてやってるんですよね。

[2019-11-19 00:24] yuuitiro commented on #33
無線LANですが、RTX-1200 の LAN1 ポートにつなぐ場合はブリッジで、ITBPのLANポートにつなぐ場合はルータで接続すると良いです。

[2019-11-19 00:29] PharaohKJ commented on #33
@yuuitiro さん、それは @matyuda さんのものを接続する場合ですよね？
その場合はLANポート直結しか考えてないです。ありがとうございます。
（性能的にハンズオン参加者向けには絶対ムリなんで、なにかあったときの疎通確認ぐらいを予定しています）

[2019-11-19 00:32] yuuitiro commented on #33
そです、そです。
@matyuda さんのものを接続する場合です。ご存じかなとも思ったんですが、念のためコメントしておきましたー。

[2019-11-19 01:01] PharaohKJ commented on #33
あざっす
--
PhalanXware
Masayuki KaToH / kato@phalanxware.com
076-225-5965 / skype: pharaohkj / twitter: PhalanXware

[2019-11-19 01:40] PharaohKJ opened #43 "ハンズオン受付用スプレッドシート"
ドアキからGoogleスプレッドシートにエクスポートし、そのURLをハンズオン部と共有する。

[2019-11-19 01:54] PharaohKJ commented on #41
paperのほうに記載

https://paper.dropbox.com/doc/--Ao0PFJGdSCZgWiA8LbY9zm7UAg-eiZbWlGB7MnSZ32gSlMk0#:uid=175095219405965103499255&h2=%E6%9C%AC%E4%BC%9A%E7%B5%82%E4%BA%86%E5%BE%8C-%E6%87%87%E8%A6%AA%E4%BC%9A

[2019-11-19 01:54] #41 closed, assigned to PharaohKJ

[2019-11-19 03:31] higachan0406 commented on #15
[懇親会食事]

先程変更しました。
※正午がリミットだったのに、12:07に数変更してしまいました。もんぜんと同じ15:00と勘違い。
　むらかみさん(だったはず。女性)にまだ変更大丈夫でした、と回答頂き、数変更となりました。

金額は、以下となります。
とりべんとう
594(税込み8%) x 45 =26,730円
はらぺこさん
680(税込み8%) x 45 = 30,600円

合計：57,330円
エクセルに反映します。

[2019-11-19 04:11] higachan0406 commented on #14
27人、カニ6でお願いしました。

[2019-11-19 08:42] PharaohKJ commented on #19
@matyuda さん
俺が印刷してもってく？どうします？

[2019-11-19 08:51] TAKAyukiatkwsk commented on #19
@matyuda すいません、確認遅れました。よいと思います！
1点だけ、「受付は6Fにありますので〜」というところなのですが、
これってコミュニティデイ自体の受付を指していますか？
ハンズオン部屋でも、ハンズオン自体の受付(ドアキの参加希望した人を優先して入れたいので)を実施しようと思っていますが、表記としてどうしましょうかね？
ハンズオンの受付について参考:
https://paper.dropbox.com/doc/AWS-Community-Day-aPcPdOpHKYLH5YVM9WRUk#:uid=797281247689747887830703&h2=%E5%BD%93%E6%97%A5%E4%BC%9A%E5%A0%B4%E6%BA%96%E5%82%99%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A2%E3%83%AB

[2019-11-19 10:40] matyuda commented on #19
@TAKAyukiatkwsk さん
ご確認頂きありがとうございます。
6階の受付の件はご指摘の通りです。
そうしましたら、ハンズオンにも受付があることを記載しておきますね。

[2019-11-19 10:43] matyuda commented on #19
@PharaohKJ さん

PDFのサイズについては印刷を私が担当しますので、対応します。

英語の件は、多少心配ありますが、登壇者の方含めて多国籍での参加になりますので、バランス考えてこのままとさせて頂きたいと思います。

[2019-11-19 11:17] TAKAyukiatkwsk commented on #19
ありがとうございます！

[2019-11-19 12:37] matyuda commented on #19
@TAKAyukiatkwsk さん

内容追記しておきました。もしお時間ありましたらご確認ください。
万一、まずい点がありましたらお知らせください。

[2019-11-19 13:55] matyuda commented on #9
受け取り完了しました。
明日持ち込みします。

[2019-11-19 13:55] #9 closed, assigned to matyuda

[2019-11-19 17:15] PharaohKJ commented on #43
slackで @TAKAyukiatkwsk さんに送付済み

[2019-11-19 17:15] #43 closed, assigned to PharaohKJ

[2019-11-19 17:39] PharaohKJ commented on #40
https://paper.dropbox.com/doc/--Ao6C~20kO3CWAMu9brHEOrmqAQ-geTTET2UZXI8krmAMdzhZ

[2019-11-19 17:39] #40 closed, assigned to nobody

[2019-11-19 18:01] PharaohKJ commented on #39
https://paper.dropbox.com/doc/--Ao5BlJKv3ieR7UlMTSZLHdtqAQ-gN3TV3lsrfTLHHSqWT0vW

[2019-11-19 18:01] #39 closed, assigned to nobody

[2019-11-19 18:34] PharaohKJ commented on #38
https://paper.dropbox.com/doc/--Ao7u5vglAk5MHWCdMvcCCklNAQ-PQRj52LHe3D7qq0N77yoY

[2019-11-19 18:34] #38 closed, assigned to nobody

[2019-11-19 19:25] PharaohKJ commented on #32
https://docs.google.com/document/d/1p4qvHxedOeB3xTYkVIiy6P9pXj5QS2xN0ez3v1Y_Xpg/edit?usp=sharing

[2019-11-19 19:25] #32 closed, assigned to nobody

[2019-11-19 22:37] TAKAyukiatkwsk commented on #43
受け取りました。ありがとうございます。

[2019-11-20 20:30] PharaohKJ commented on #37
@aibax さんより @yuuitiro さんが回収したらクローズ。ありがとうございました！

[2019-11-20 20:31] PharaohKJ commented on #33
こちらも @yuuitiro さんが @aibax さんより回収したらクローズ予定。マジで助かりました。ありがとうございました。

[2019-11-20 20:31] #29 closed, assigned to osamu-036

[2019-11-20 20:35] PharaohKJ commented on #28
在庫は加藤の車のなかかな？現状の場所がわかったらクローズ。

[2019-11-20 20:36] PharaohKJ opened #44 "スタンドポップの返却"

[2019-11-20 20:36] PharaohKJ commented on #44
スタンドポップをAWSさんに返却する。発送したらAWSさんに荷物番号伝えてクローズ。

[2019-11-20 20:37] PharaohKJ opened #45 "ハンズオンクーポンを配る"
@PharaohKJ あてにAWSさんよりクーポン一覧もらってるので @TAKAyukiatkwsk さんといっしょに配る。
アンケートの集計も行ってAWSさんとJAWS-UGでシェア。

その2つをやったらクローズ。

[2019-11-20 20:38] #26 closed, assigned to aibax

[2019-11-20 20:38] #19 closed, assigned to matyuda

[2019-11-20 20:49] PharaohKJ commented on #17
UG金沢公式アカウントでリツイしかやる暇なかったw
まぁよかった。ありがとうございましたツイートを 10:00 に仕込んだ。クローズ。

[2019-11-20 20:49] #17 closed, assigned to yuuitiro, PharaohKJ

[2019-11-20 20:50] PharaohKJ commented on #16
在庫を数えて記録簿作ったらクローズします。いま、在庫は加藤の車の中にあり。

[2019-11-20 20:51] PharaohKJ commented on #15
もろもろありがとうございました！あとで領収書登録します。

[2019-11-20 20:51] #15 closed, assigned to PharaohKJ, higachan0406

[2019-11-20 20:52] PharaohKJ commented on #14
金額あった & 領収書だしたとうかがってます。クローズ。

[2019-11-20 20:52] #14 closed, assigned to PharaohKJ, higachan0406

[2019-11-20 20:52] PharaohKJ commented on #13
@INTEC-Takayasu さん、めっっっっっっっっっっっっっっっっっちゃ助かりました。本当にありがとうございました！

[2019-11-20 20:52] #13 closed, assigned to nobody

[2019-11-20 20:56] PharaohKJ opened #46 "会計報告"
@jaws-ug-kanazawa/communityday 各位、領収書の登録を wiki にしたがって進めて、なんとか24日いっぱいで終わらせてください。

残りは俺だけかな・・・？

[2019-11-20 20:57] PharaohKJ opened #47 "配信機材の返却"
トランザムさんと進める
25日までには返さないといけなかったはず。確認から。

[2019-11-20 21:27] PharaohKJ opened #48 "スライドのURLをドアキから展開"
登壇者のスライド後日公開、になってる方のURLをあつめて、ウェブページに記載 & ドアキから案内する。

[2019-11-21 00:23] INTEC-Takayasu commented on #13
@PharaohKJ こちらこそ、どうもありがとうございました！参加した社員もとても良い刺激を受けました。北陸でAWSを広めていきたいと思いますので、どうかよろしくお願いいたします！！

[2019-11-21 05:47] TAKAyukiatkwsk commented on #33
@yuuitiro
YAMAHAルータ素人の私でもLANケーブル繋げるだけで無線LAN利用できたので本当に助かりました！ありがとうございました！

[2019-11-21 05:50] TAKAyukiatkwsk commented on #37
@yuuitiro
こちらも大変助かりました。ありがとうございました！

[2019-11-21 09:16] PharaohKJ opened #49 "配信機材返却"
25日の午後、トランザムさんと先方に返却に行く予定。

[2019-11-22 00:39] yuuitiro commented on #37
来週の予定を考えてます。

@TAKAyukiatkwsk 役に立てたようでよかったっす！

[2019-11-22 00:41] yuuitiro commented on #33
来週に回収したいと思いますー！

またハンズオンする機会があれば持ってきます :)

[2019-11-22 05:06] PharaohKJ commented on #45
クーポン配布完了。1人ドアキに登録されてないメールアドレスの人がいらっしゃったのは、クーポン送っていません。問い合わせあったら加藤までまわしてください。cからはじまってドメインはほっとメールドットコムでした。

[2019-11-22 05:06] PharaohKJ commented on #45
土日祝の夜 12票
土日祝の昼 15票
平日夜仕事終わり 9票
平日の昼仕事代わり 10票
無回答 1

[2019-11-22 05:06] #45 closed, assigned to TAKAyukiatkwsk, PharaohKJ

[2019-11-22 05:41] PharaohKJ opened #50 "飲み会領収書発行"
@higachan0406 さんPDFで領収書作成するので

欲しがってる人　と　その人の金額

のリストをこっそりslackのDMあたりで送ってください。

[2019-11-22 07:06] higachan0406 commented on #50
@PharaohKJ さん、
メモした紙は家にあるので後ほど連絡します。

[2019-11-24 13:29] higachan0406 commented on #50
@PharaohKJ さん
@aibax さん
Slackにて、加藤さんに状況を説明し、
相羽さんに作業を依頼しました。
本件については相羽さんの作業でクローズとしていただければ
よいかと思います。

[2019-11-26 10:34] aibax commented on #44
11/22 有限会社キネ様宛にヤマト運輸にて発送完了
（伝票番号 : 4649-1306-3123）
↓
11/25 配達完了

[2019-11-26 10:34] #44 closed, assigned to aibax

[2019-11-26 13:36] PharaohKJ commented on #50
PdF送ったり手渡ししたりしました。クローズ。

[2019-11-26 13:36] #50 closed, assigned to PharaohKJ, higachan0406

[2019-12-07 05:12] PharaohKJ commented on #49
返却済み。
動画も引き上げて @PharaohKJ が預かり済み。
運営関係者のみ必要があったら加藤に申請し、Ug内でOkたらアクセスを許可する運営にします。

[2019-12-07 05:12] #49 closed, assigned to PharaohKJ

[2019-12-07 05:12] PharaohKJ commented on #47
#49 と重複。クローズ

[2019-12-07 05:12] #47 closed, assigned to PharaohKJ

[2019-12-07 05:13] PharaohKJ commented on #48
matyuda さん対応済み。

[2019-12-07 05:13] #48 closed, assigned to nobody

[2019-12-07 05:17] PharaohKJ commented on #46
@TAKAyukiatkwsk さん @matyuda さんへ 12/6 paypay 経由で 11,251 円清算しました。

[2019-12-07 05:40] PharaohKJ commented on #46
@TAKAyukiatkwsk さん @higachan0406 さんへ 12/7 現金で 3,582 円精算しました。

[2019-12-09 13:23] TAKAyukiatkwsk commented on #46
上記の精算、入金出金記録スプレッドシートの立て替えレコードに精算日を入力しておきました。

[2019-12-09 23:15] PharaohKJ commented on #46
色分けわかりやすくて最高に助かります && 2シートめの入金・出金記録にも記入をお願いします。
2シート目の合計 = 1シート目の合計になることでちゃんとあってるかみたいと思います。
まぁいまの方法でも十分ですかね。

[2019-12-09 23:16] PharaohKJ commented on #21
みんなでシェアした！結構人気あって懇親会までになくなりかけてた。よかった。

[2019-12-09 23:16] #21 closed, assigned to PharaohKJ

[2019-12-11 11:27] yuuitiro commented on #33
@aibax さんから回収しました。

インフル疑惑があって回収が遅れましたが、無事OKです。

[2019-12-11 11:27] #33 closed, assigned to yuuitiro, aibax

[2019-12-11 11:28] yuuitiro commented on #37
こちらも回収したのでクローズしておきます。

[2019-12-11 11:28] #37 closed, assigned to yuuitiro, aibax

[2019-12-12 00:50] TAKAyukiatkwsk commented on #46
了解です！

[2019-12-12 12:37] PharaohKJ commented on #46
@TAKAyukiatkwsk さん

12/9 に 9,576円 AWSさん（のイベント会社 KINEさん）に振り込み返金しました。

@aibax さんへ 12/12、 9,576円 + 吉田さんぶん 2,419円 合計 11,995円、Kyashで精算しました。

[2019-12-12 22:43] PharaohKJ commented on #46
11/27 に AWSさん（のイベント会社 KINEさん）より 308,453円 **入金** がありました。
12/12 に @PharaohKJ が 272,049円 現金で精算しました。

[2019-12-17 00:15] PharaohKJ commented on #42
@jaws-ug-kanazawa/communityday 各位

本リポジトリのGitHub pages機能でstatic サイト作成しました。

http://acd.pxw.io

問題なさそうならCNAMEレコードを `jaws-ug.jp` 管理者にお願して作成してもらって終了予定。

[2019-12-18 02:29] TAKAyukiatkwsk commented on #46
@PharaohKJ
スプレッドシート更新しました。全ての立て替え精算が完了、入金・出金の合計値が0になることを確認しました。
https://docs.google.com/spreadsheets/d/1oy1TfvV6yV29Ml0JWFjyrmo_HYDNW1Huq9N8Jy6U7es/edit?usp=sharing

[2019-12-18 03:22] #46 closed, assigned to TAKAyukiatkwsk, PharaohKJ

[2019-12-19 03:29] #42 closed, assigned to nobody